#app-markup {
  overflow: hidden;
}
.home-page-scrim {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  transition: background-color 0.35s ease;
  z-index: 1;
  pointer-events: none;
}
.collapse-browsing-sheet .home-page-scrim {
  background-color: rgba(0, 0, 0, 0.5);
}

.home-page.go_to_player_animation .hero-section-metadata,
.home-page.go_to_player_animation .home-page-scrim,
.home-page.go_to_player_animation .hero-section-carousal,
.home-page.go_to_player_animation .top-nav,
.home-page.go_to_player_animation .browsing-sheet {
  opacity: 0;
  transition: opacity 2s ease,
              transform 2s ease;
}
.home-page.go_to_player_animation .top-nav {
  transform: translateY(-2rem);
}
.home-page.go_to_player_animation .browsing-sheet {
  transform: translateY(100%);
}
/* .home-page.go_to_player_animation .hero-section-metadata {
  transition-delay: 0.75s;
  transform: translateX(-5rem);
} */

.video-player-container-home {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.hero-section {
  position: relative;
  height: 100%;
}
.hero-section-metadata {
  position: absolute;
  left: 4.5rem;
  right: 4.5rem;
  bottom: 12rem;
  transition: opacity 0.35s 0.15s ease,
              transform 0.35s 0.15s ease;
  opacity: 0;
  transform: translateY(-4rem);
  z-index: 2;
}
.collapse-browsing-sheet .hero-section-metadata {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.35s 0.35s ease,
              transform 0.35s 0.25s ease;
}
.hero-section-metadata .hero-section-for-you {
  font-size: 1.25rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-1.75rem);
  transition: opacity 0.5s ease,
              transform 0.5s ease;
}
.hero-section-metadata .hero-section-title {
  font-family: 'YouTube Sans';
  font-size: 4rem;
  line-height: 4.125rem;
  font-weight: bold;
  margin-top: 0.5rem;
  letter-spacing: -0.03em;
  max-width: 34rem;
  height: 4.35rem;
  overflow: hidden;
  color: #F1F1F1;
  opacity: 0;
  transform: translateY(-1.75rem);
  transition: opacity 0.5s ease,
              transform 0.5s ease,
              height 0.35s ease;
}
.hero-section-metadata .hero-section-title.large {
  height: 8.25rem;
}
.hero-section-metadata .hero-section-details {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-top: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transform: translateY(-1.75rem);
  transition: opacity 0.5s ease,
              transform 0.5s ease;
}
.hero-section-metadata .button {
  margin-top: 1.5rem;
  opacity: 0;
  transform: translateY(-1.75rem);
  transition: opacity 0.5s ease,
              transform 0.5s ease;
}
.collapse-browsing-sheet .hero-section-metadata .hero-section-for-you {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}
.collapse-browsing-sheet .hero-section-metadata .hero-section-title {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}
.collapse-browsing-sheet .hero-section-metadata .hero-section-details {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
.collapse-browsing-sheet .hero-section-metadata .button {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.1s;
}
.hero-section-details .badge {
  margin-right: 0.5rem;
}

.hero-section-metadata .hero-section-carousal {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero-section-carousal .hero-section-carousal-dot {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.25rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  transition: width 0.5s ease;
}
.hero-section-carousal-dot .dot-progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #F1F1F1;
  opacity: 0;
}
.hero-section-carousal-dot.highlighted .dot-progress {
  opacity: 1;
  /* animation: carousal-dot-progress 8s linear forwards; */
  /* animation-play-state: running; */
}
.hero-section-carousal-dot.highlighted.paused .dot-progress {
  animation-play-state: paused;
}
/* .hero-section-carousal-dot.highlighted:not(.paused) .dot-progress {
  animation-play-state: running;
} */
.hero-section-carousal-dot.filled .dot-progress {
  width: 100%;
}
.hero-section-carousal-dot.highlighted {
  width: 7.5rem;
}

@keyframes carousal-dot-progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.25rem 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* transition: transform 0.5s 0.25s ease, opacity 0.5s 0.25s ease; */
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(-4rem);
  z-index: 10;
}
.collapse-browsing-sheet .top-nav {
  opacity: 1;
  transform: translateY(0);
}
.top-nav-left,
.top-nav-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
}
.top-nav-search-icon {
  height: 2rem;
  margin-right: 1.5rem;
}
.top-nav-avatar-icon {
  height: 3.75rem;
}
.top-nav-ytv-logo {
  margin-left: 1.75rem;
  height: 2.25rem;
}

/* body.no-animation .top-nav,
body.no-animation .browsing-sheet,
body.no-animation .shelves,
body.no-animation .shelf-cards {
  transition-duration: 0s;
  transition-delay: 0s;
} */
body.no-animation * {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}
.browsing-sheet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4.5rem;
  transition: transform 0.5s ease;
  /* background-color: rgba(0, 0, 0, 0.7); */
  z-index: 10;
}
.collapse-browsing-sheet .browsing-sheet {
  transform: translateY(75%);
}
.shelves,
.shelf-cards {
  transition: transform 0.5s ease;
}
.shelf {
  transition: opacity 0.5s ease;
}
.shelf {
  margin-bottom: 6.5rem;
}
.shelf:not(.focus-within) {
  opacity: 0.6;
  /* transition-delay: 0.35s; */
}
/* .shelf.focus-within ~ * {
  transform: translateY(6rem);
} */
.shelf .shelf-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.shelf-cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.shelf-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0 auto;
}
.shelf-card:not(.large) {
  flex-direction: column;
}
.shelf-card + .shelf-card {
  margin-left: 1.25rem;
}
.shelf-card.large + .shelf-card.large {
  margin-left: 4.375rem;
}
.shelf-card .shelf-card-thumbnail-container {
  position: relative;
  height: 9.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 0 0 transparent;
  overflow: hidden;
  transition: box-shadow 0.35s ease;
}
.shelf-card .shelf-card-thumbnail {
  position: relative;
  /* z-index: -1; */
}
.shelf-card.large .shelf-card-thumbnail-container {
  height: 19.75rem;
}
.shelf-card.tall .shelf-card-thumbnail-container {
  height: 27.25rem;
}
.shelf-card.focused .shelf-card-thumbnail-container {
  box-shadow: 0 0 0 0.25rem #F1F1F1;
}
/* .shelf-card-thumbnail-container .badge-live { */
.shelf-card-thumbnail-container .badge {
  position: absolute;
  left: 0.75rem;
  bottom: 1.35rem;
}
.shelf-card .shelf-card-title {
  color: #F1F1F1;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  transition: opacity 0.35s ease;
}
.shelf-card .shelf-card-details {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  margin-top: 0.375rem;
  transition: opacity 0.35s ease;
}
.shelf-card:not(.focused) .shelf-card-title,
.shelf-card:not(.focused) .shelf-card-details {
  opacity: 0.5;
}
.shelf-card .shelf-card-description {
  font-size: 1rem;
  margin-top: 0.375rem;
}
.shelf-card-metadata {
  margin: auto 0 auto 3rem;
  width: 30rem;
}
.shelf-card-metadata .shelf-card-title {
  font-family: 'YouTube Sans';
  font-size: 2.5rem;
  margin-top: 0;
}
.shelf-card-metadata .shelf-card-details {
  font-size: 1.125rem;
}
.shelf-card-metadata .shelf-card-description {
  font-size: 1.25rem;
}
.shelf-card-metadata .button {
  margin-top: 2rem;
}

.avatar-card {
  width: 10rem;
  align-items: center;
}
.shelf-card.avatar-card .shelf-card-title {
  margin-top: 1.5rem;
  color: #F1F1F1;
  text-align: center;
  opacity: 1;
}
.shelf-card.avatar-card .shelf-card-details {
  opacity: 0.7;
}

.selected-card-metadata {
  margin-top: 1.5rem;
  margin-bottom: -2rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.selected-card-metadata .selected-card-metadata-left {
  width: 87rem;
}
.selected-card-metadata .selected-card-metadata-right {
  margin-left: 0;
  width: 83rem;
}
.selected-card-metadata .selected-card-metadata-stat-image {
  opacity: 0;
  animation: fade-in 0.35s 0.25s ease forwards;
}
.selected-card-metadata .selected-card-title {
  font-family: 'YouTube Sans';
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: #F1F1F1;
  width: 85%;
}
.selected-card-metadata .selected-card-details {
  font-size: 1.125rem;
  margin-top: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
}


.thumbnail-progress-bar {
  position: absolute;
  left: 0.75rem;
  right: 0.75rem;
  bottom: 0.75rem;
  height: 0.25rem;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.375rem;
  overflow: hidden;
  transition: transform 0.35s ease;
}
/* .thumbnail-progress-bar:not(.targetHightlight) {
  opacity: 0.5;
} */
/* .thumbnail-progress-bar::after { */
.thumbnail-progress-bar-fill {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  /* right: 0; */
  top: 0;
  bottom: 0;
  background-color: #FF001F;
}



.top-nav-directed-page {
  opacity: 0;
  animation: fade-in 0.35s 0.25s ease forwards;
}

.epg-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8rem 4.5rem 4.5rem;
  /* transition: transform 0.5s ease; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* z-index: 10; */
  background-image: url(../img/EPG/background-image.png);
  background-position: center;
  background-size: cover;
}
.epg-page > * {
  transition: transform 0.35s ease;
}
.epg-page.hide-epg-top-nav > * {
  transform: translateY(-4.5rem);
}
.epg-shelf {
  margin-bottom: 3rem;
  opacity: 1;
}
.epg-shelf,
.epg-details-section {
  height: 18.25rem;
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
}
.epg-shelf-card {
  width: 17rem;
}
.epg-guide-table-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(8, [col] 5.5rem);
  grid-auto-flow: column; */
  /* grid-template-columns: 5.5rem; */
  margin-bottom: .5rem;
}
.epg-guide-table-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 500;
  /* margin-right: .5rem; */
  padding: 1rem 1.5rem;
  min-width: 5.5rem;
  height: 4rem;
  background-color: rgba(96, 96, 96, 0.3);
  border-radius: 0.75rem;
}
.epg-guide-table-cell:not(:last-child) {
  margin-right: .5rem;
}
.epg-guide-table-cell:not(.focused) .show-on-focus {
  display: none;
}
.epg-guide-table-cell .table-cell-icon {
  height: 1.25rem;
}
.epg-guide-table-cell.focused .table-cell-icon:not(.show-on-focus) {
  display: none;
}
.epg-guide-table-cell.focused {
  color: #000;
  background-color: #FFF;
}
.epg-guide-table-cell .img-network-logo {
  max-width: 2.25rem;
  max-height: 2.25rem;
}
.epg-guide-table-cell.width0 {
  width: 5.5rem;
}
.epg-guide-table-cell.width1 {
  flex-basis: 14.5rem;
  grid-column: span 2;
}
.epg-guide-table-cell.width2 {
  flex-basis: 29.5rem;
  grid-column: span 4;
}
.epg-guide-table-cell.width3 {
  flex-basis: 44.5rem;
  grid-column: span 6;
}
.epg-guide-table-cell.width4 {
  flex-basis: 59.5rem;
  grid-column: span 8;
}
.epg-guide-table-cell.width5 {
  flex-basis: 74.5rem;
  grid-column: span 10;
}


.epg-details-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.epg-details-section .epg-details-section-left {
  min-width: 50%;
  flex-grow: 0;
  margin-right: 12rem;
  color: #909090;
}
.epg-details-section .epg-details-image img {
  border-radius: 0.75rem;
}
.epg-details-section .thumbnail-progress-bar {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  max-width: 15rem;
  height: 0.45rem;
  margin-right: 1rem;
}
.epg-details-section .epg-download-status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.4rem;
}
.epg-details-section .epg-download-time-left {
  margin-right: 1rem;
  color: #F00;
}
.epg-details-section .epg-download-status-check {
  margin-right: 0.35rem;
}
.epg-details-section .epg-progress-dowload-recording {
  /* margin-right: 1rem; */
}
.epg-details-section .epg-details-metadata {
  margin-bottom: 0.6rem;
}
.epg-details-section .epg-details-description {
  font-size: 1rem;
  font-weight: 400;
  color: #AAA;
}

.epg-details-section .epg-details-title {
  font-family: 'YouTube Sans';
  font-size: 4rem;
  line-height: 4.125rem;
  font-weight: bold;
  color: #F9F9F9;
  margin-bottom: 1rem;
  letter-spacing: -0.03em;
}



.library-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8rem 4.5rem 4.5rem;
  /* transition: transform 0.5s ease; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* z-index: 10; */
}
.library-page > * {
  transition: transform 0.35s ease;
}

.library-hero-cards {
  display: flex;
  flex-wrap: nowrap;
}
.library-hero-card {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-shrink: 0;
  color: #E9E9E9;
  width: 35.125rem;
  height: 6.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #212121;
  border-radius: 0.75rem;
}
.library-hero-card img {
  border-radius: 0.75rem 0 0 0.75rem;
}
.library-hero-card.focused {
  box-shadow: 0 0 0 0.25rem #F1F1F1;
}
.library-hero-card .library-hero-card-details {
  padding: 1.15rem 1.75rem;
}
.library-hero-card .library-hero-card-line-1 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.library-hero-card .library-hero-card-line-2 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  /* line-height: 38px; */
}
.library-hero-card .library-hero-card-line-3 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.library-hero-card .library-hero-card-play-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.75rem;
  margin: auto;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.35s ease;
}
.library-hero-card.focused .library-hero-card-play-image {
  opacity: 1;
  transform: scale(1);
}


.library-page .shelf {
  margin-bottom: 4.5rem;
}

.library-page-chips {
  margin-bottom: 2rem;
}

.library-shelf-card .shelf-card-details {
  margin-top: 1.25rem;
}
.library-shelf-card .shelf-card-title {
  margin-top: 0.5rem;
}



.store-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8rem 4.5rem 4.5rem;
  /* transition: transform 0.5s ease; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* z-index: 10; */
}
/* .store-page > * {
  transition: transform 0.35s ease;
} */
.store-page-chips {
  margin-bottom: 2rem;
}

.store-page-carousal {
  height: 12rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: nowrap;
}
.store-page-carousal-item {
  width: 100%;
  margin-right: 0.5rem;
  flex-shrink: 0;
  background-color: #797979;
  border-radius: 0.75rem;
  transition: box-shadow 0.35s ease;
  background-image: url(../img/home-page/dune.png);
  background-size: cover;
  background-position: center 97%;
}
.store-page-carousal-item img {
  border-radius: 0.75rem;
}
.store-page-carousal-item.focused {
  box-shadow: 0 0 0 0.25rem #F1F1F1;
}

.store-hero-cards {
  display: flex;
  flex-wrap: nowrap;
}
.store-hero-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  color: #E9E9E9;
  width: 35.125rem;
  height: 6.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  background-color: #212121;
  border-radius: 0.75rem;
}
.store-hero-card .store-hero-card-image {
  width: 4rem;
  height: 4rem;
  /* max-width: none; */
  border-radius: 2rem;
}
.store-hero-card .store-hero-card-left {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-shrink: 0;
}
.store-hero-card.focused {
  box-shadow: 0 0 0 0.25rem #F1F1F1;
}
.store-hero-card .store-hero-card-details {
  padding: 1.15rem 1.75rem;
}
.store-hero-card .store-hero-card-line-1 {
  font-size: 1rem;
  font-weight: 700;
  color: #909090;
  margin-bottom: 0.25rem;
}
.store-hero-card .store-hero-card-line-2 {
  font-weight: 500;
  font-size: 1.5rem;
  /* margin-bottom: 0.25rem; */
  /* line-height: 38px; */
}
.store-hero-card .store-hero-card-line-3 {
  font-size: 1.25rem;
  font-weight: 500;
  /* margin-bottom: 0.25rem; */
}
.store-hero-card .store-hero-card-play-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.75rem;
  margin: auto;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.35s ease;
}
.store-hero-card.focused .store-hero-card-play-image {
  opacity: 1;
  transform: scale(1);
}

.store-shelf {
  margin-bottom: 3rem;
}


.side-sheet {
  position: absolute;
  top: 1.5rem;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 30rem;
  padding: 2rem;
  background-color: #05173A;
  border-radius: 2rem;
  z-index: 10;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}
.side-sheet:not(.show) {
  opacity: 0;
  transform: translateX(20%);
}

.side-sheet-hero {
  margin: 0 1rem .5rem;
}
.side-sheet-hero-image {
  height: 7rem;
}

.side-sheet-details {
  margin: 0 1rem;
}

.side-sheet-title {
  font-family: 'YouTube Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.03em;
  margin-bottom: 1rem;
}
.side-sheet-metadata {
  font-size: 1.15rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.side-sheet-metadata .badge {
  margin-right: .35rem;
}
.side-sheet-description {
  font-weight: 400;
  font-size: 1.25rem;
  /* line-height: 1rem; */
}

.side-sheet-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.side-sheet-list-item {
  font-weight: 500;
  font-size: 1.25rem;
  /* line-height: 42px; */
  justify-content: flex-start;
  margin-bottom: 1rem;
  height: 4rem;
  border-radius: 0.75rem;
}
.side-sheet-list-item .icon {
  height: 2rem !important;
  margin-right: 1.5rem;
}



.movie-details-page {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/home-page/avatar_big.png);
  background-size: contain;
  z-index: 15;
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
}

.movie-details-page-sheet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4.5rem;
  transition: transform 0.5s ease;
}
.movie-details-page-sheet.expanded {
  transform: translateY(-57%);
}

.movie-details-page-hero {
  margin-bottom: 1.25rem;
}
.movie-details-page-hero-image {
  height: 4rem;
}

/* .movie-details-page-details {
  margin: 0 1rem;
} */

.movie-details-page-title {
  font-family: 'YouTube Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.03em;
  margin-bottom: 1rem;
}
.movie-details-page-metadata {
  font-size: 1.15rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
}
.movie-details-page-metadata .badge {
  margin-right: .35rem;
}
.movie-details-page-description {
  font-weight: 400;
  font-size: 1.25rem;
  max-width: 20rem;
  /* line-height: 1rem; */
  margin-bottom: 1.25rem;
}
.movie-details-page-buttons {
  margin-bottom: 3rem;
}
.movie-details-page-buttons .button {
  margin-right: 0.5rem;
}