
.bk-filter-item {
  max-width: 100%;
  height: 48px;
  box-sizing: border-box;
}

.bk-filter-item {
  max-width: 100%;
  box-sizing: border-box;
}

.bk-filter-item .bk-top-menu-filters {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  align-items: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;

  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #C0C6CF;
}

.bk-filter-item .bk-top-menu-filters li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  position: relative;
  padding: 0 12px;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.4285714286;
  color: #1c2330;
  cursor: pointer;
}

.bk-filter-item .bk-top-menu-filters li {
  max-width: 100%;
  box-sizing: border-box;
}

.bk-filter-item .bk-top-menu-filters li {
  max-width: 100%;
  box-sizing: border-box;
}

.bk-filter-item .bk-top-menu-filters li:hover {
  color: #323946;
}

.bk-filter-item .bk-top-menu-filters li:hover .bk-filter-border {
  transform: scaleX(1);
  background-color: #a5acb9;
}

.bk-filter-item .bk-top-menu-filters li.bk-selected {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.4285714286;
  font-weight: 700;
  color: #2e75f0;
}

.bk-filter-item .bk-top-menu-filters li.bk-selected .bk-filter-border {
  transform: scaleX(1);
  background-color: #2e75f0;
}

.bk-filter-item .bk-top-menu-filters .bk-filter-border {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  /* transition: transform .25s cubic-bezier(.645, .045, .355, 1); */
  transition: transform .2s ease-out;
  /* transition: transform .2s ease, background-color .2s ease; */
  transform: scaleX(0);
  margin-bottom: -1px;
}

.bk-filter-item .bk-top-menu-filters .bk-filter-text {
  text-align: center;
}

.bk-filter-item .bk-top-menu-filters .bk-filter-text:after {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}



.exploration2 .bk-filter-item .bk-top-menu-filters .bk-filter-border {
  transform-origin: bottom;
  transform: scale(0, 0.5);
}
.exploration2 .bk-filter-item .bk-top-menu-filters li:hover .bk-filter-border {
  transform: scale(1, 0.5);
}
.exploration2 .bk-filter-item .bk-top-menu-filters li.bk-selected .bk-filter-border {
  transform: scale(1, 1);
}



.exploration3 .bk-filter-item .bk-top-menu-filters .bk-filter-border {
  transform-origin: bottom;
  transform: scale(0, 0.5);
}
.exploration3 .bk-filter-item .bk-top-menu-filters li:hover .bk-filter-border {
  transform: scale(1, 0.5);
  background-color: #2e75f0;
}
.exploration3 .bk-filter-item .bk-top-menu-filters li.bk-selected .bk-filter-border {
  transform: scale(1, 1);
}



.exploration4 .bk-filter-item .bk-top-menu-filters li:hover {
  color: #2e75f0;
}
.exploration4 .bk-filter-item .bk-top-menu-filters .bk-filter-border {
  transform-origin: bottom;
  transform: scale(0, 0.5);
}
.exploration4 .bk-filter-item .bk-top-menu-filters li:hover .bk-filter-border {
  transform: scale(1, 0.5);
  background-color: #2e75f0;
}
.exploration4 .bk-filter-item .bk-top-menu-filters li.bk-selected .bk-filter-border {
  transform: scale(1, 1);
}



.exploration5 .bk-filter-item .bk-top-menu-filters .bk-filter-border {
  transform-origin: bottom;
  transform: scaleX(0);
}
.exploration5 .bk-filter-item .bk-top-menu-filters li:hover .bk-filter-border {
  transform: scaleX(0.4);
}
.exploration5 .bk-filter-item .bk-top-menu-filters li.bk-selected .bk-filter-border {
  transform: scaleX(1);
}
