<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <title>Olive Animations</title>
    <link href="https://docucdn-a.akamaihd.net/olive/17.17.0/css/olive.min.css" rel="stylesheet" type="text/css" />
    <link href="https://docucdn-a.akamaihd.net/olive/17.17.0/css/martini.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style_tutorial.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/new_animations.css"/>

    <script src="js/jquery-1.12.3.min.js"></script>
  </head>
  <body>
    <article class="accordion_animation">
      <div class="menu-nav exampleColumn ng-scope sample1">
        <button type="button" class="accordion ng-scope closed">
          Group One
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 1</a></li>
                <li><a class="menu_item">Item 2</a></li>
                <li><a class="menu_item">Item 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Two
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer2" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 4</a></li>
                <li><a class="menu_item">Item 5</a></li>
                <li><a class="menu_item">Item 6</a></li>
                <li><a class="menu_item">Item 7</a></li>
                <li><a class="menu_item">Item 8</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Three
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer3" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 9</a></li>
                <li><a class="menu_item">Item 10</a></li>
                <li><a class="menu_item">Item 11</a></li>
                <li><a class="menu_item">Item 12</a></li>
                <li><a class="menu_item">Item 13</a></li>
                <li><a class="menu_item">Item 14</a></li>
                <li><a class="menu_item">Item 15</a></li>
                <li><a class="menu_item">Item 16</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-nav exampleColumn ng-scope sample2">
        <button type="button" class="accordion ng-scope closed">
          Group One
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 1</a></li>
                <li><a class="menu_item">Item 2</a></li>
                <li><a class="menu_item">Item 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Two
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer2" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 4</a></li>
                <li><a class="menu_item">Item 5</a></li>
                <li><a class="menu_item">Item 6</a></li>
                <li><a class="menu_item">Item 7</a></li>
                <li><a class="menu_item">Item 8</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Three
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer3" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 9</a></li>
                <li><a class="menu_item">Item 10</a></li>
                <li><a class="menu_item">Item 11</a></li>
                <li><a class="menu_item">Item 12</a></li>
                <li><a class="menu_item">Item 13</a></li>
                <li><a class="menu_item">Item 14</a></li>
                <li><a class="menu_item">Item 15</a></li>
                <li><a class="menu_item">Item 16</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-nav exampleColumn ng-scope sample3">
        <button type="button" class="accordion ng-scope closed">
          Group One
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 1</a></li>
                <li><a class="menu_item">Item 2</a></li>
                <li><a class="menu_item">Item 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Two
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer2" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 4</a></li>
                <li><a class="menu_item">Item 5</a></li>
                <li><a class="menu_item">Item 6</a></li>
                <li><a class="menu_item">Item 7</a></li>
                <li><a class="menu_item">Item 8</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Three
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer3" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 9</a></li>
                <li><a class="menu_item">Item 10</a></li>
                <li><a class="menu_item">Item 11</a></li>
                <li><a class="menu_item">Item 12</a></li>
                <li><a class="menu_item">Item 13</a></li>
                <li><a class="menu_item">Item 14</a></li>
                <li><a class="menu_item">Item 15</a></li>
                <li><a class="menu_item">Item 16</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-nav exampleColumn ng-scope sample4">
        <button type="button" class="accordion ng-scope closed">
          Group One
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 1</a></li>
                <li><a class="menu_item">Item 2</a></li>
                <li><a class="menu_item">Item 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Two
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer2" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 4</a></li>
                <li><a class="menu_item">Item 5</a></li>
                <li><a class="menu_item">Item 6</a></li>
                <li><a class="menu_item">Item 7</a></li>
                <li><a class="menu_item">Item 8</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Three
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer3" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 9</a></li>
                <li><a class="menu_item">Item 10</a></li>
                <li><a class="menu_item">Item 11</a></li>
                <li><a class="menu_item">Item 12</a></li>
                <li><a class="menu_item">Item 13</a></li>
                <li><a class="menu_item">Item 14</a></li>
                <li><a class="menu_item">Item 15</a></li>
                <li><a class="menu_item">Item 16</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-nav exampleColumn ng-scope sample5">
        <button type="button" class="accordion ng-scope closed">
          Group One
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 1</a></li>
                <li><a class="menu_item">Item 2</a></li>
                <li><a class="menu_item">Item 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Two
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer2" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 4</a></li>
                <li><a class="menu_item">Item 5</a></li>
                <li><a class="menu_item">Item 6</a></li>
                <li><a class="menu_item">Item 7</a></li>
                <li><a class="menu_item">Item 8</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Three
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer3" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 9</a></li>
                <li><a class="menu_item">Item 10</a></li>
                <li><a class="menu_item">Item 11</a></li>
                <li><a class="menu_item">Item 12</a></li>
                <li><a class="menu_item">Item 13</a></li>
                <li><a class="menu_item">Item 14</a></li>
                <li><a class="menu_item">Item 15</a></li>
                <li><a class="menu_item">Item 16</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-nav exampleColumn ng-scope sample6">
        <button type="button" class="accordion ng-scope closed">
          Group One
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 1</a></li>
                <li><a class="menu_item">Item 2</a></li>
                <li><a class="menu_item">Item 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Two
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer2" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 4</a></li>
                <li><a class="menu_item">Item 5</a></li>
                <li><a class="menu_item">Item 6</a></li>
                <li><a class="menu_item">Item 7</a></li>
                <li><a class="menu_item">Item 8</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Three
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer3" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 9</a></li>
                <li><a class="menu_item">Item 10</a></li>
                <li><a class="menu_item">Item 11</a></li>
                <li><a class="menu_item">Item 12</a></li>
                <li><a class="menu_item">Item 13</a></li>
                <li><a class="menu_item">Item 14</a></li>
                <li><a class="menu_item">Item 15</a></li>
                <li><a class="menu_item">Item 16</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-nav exampleColumn ng-scope sample7">
        <button type="button" class="accordion ng-scope closed">
          Group One
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 1</a></li>
                <li><a class="menu_item">Item 2</a></li>
                <li><a class="menu_item">Item 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Two
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer2" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 4</a></li>
                <li><a class="menu_item">Item 5</a></li>
                <li><a class="menu_item">Item 6</a></li>
                <li><a class="menu_item">Item 7</a></li>
                <li><a class="menu_item">Item 8</a></li>
              </ul>
            </div>
          </div>
        </div>
        <button type="button" class="accordion ng-scope closed">
          Group Three
          <i class="icon accordion-icon"></i>
        </button>
        <div id="sampleAccordionDrawer3" class="drawer example ng-scope down closed" style="height: 0px;">
          <div class="drawer-wrapper">
            <div class="drawer-content" olive-drawer-content="">
              <ul class="menu_list">
                <li><a class="menu_item">Item 9</a></li>
                <li><a class="menu_item">Item 10</a></li>
                <li><a class="menu_item">Item 11</a></li>
                <li><a class="menu_item">Item 12</a></li>
                <li><a class="menu_item">Item 13</a></li>
                <li><a class="menu_item">Item 14</a></li>
                <li><a class="menu_item">Item 15</a></li>
                <li><a class="menu_item">Item 16</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
  </body>
  <script src="js/new_animations.js"></script>
</html>
