
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <title>Olive Animations</title>
    <link href="https://docucdn-a.akamaihd.net/olive/17.17.0/css/olive.min.css" rel="stylesheet" type="text/css" />
    <link href="https://docucdn-a.akamaihd.net/olive/17.17.0/css/martini.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style_tutorial.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/new_animations.css"/>

    <script src="js/jquery-1.12.3.min.js"></script>
  </head>
  <body>
    <article class="buttons_animation">
      <div class="element_block sample1">
        <button class="btn btn-secondary btn-lg">Button</button>
      </div>
      <div class="element_block sample2">
        <button class="btn btn-secondary btn-lg">Button</button>
      </div>
      <div class="element_block sample3">
        <button class="btn btn-secondary btn-lg">Button</button>
      </div>
      <div class="element_block sample4">
        <button class="btn btn-secondary btn-lg">Button</button>
      </div>
      <div class="element_block sample5">
        <button class="btn btn-secondary btn-lg"><span class="icon icon-gear"></span>Settings</button>
      </div>
      <div class="element_block sample6">
        <button class="btn btn-secondary btn-lg"><span>Next</span><span class="icon icon-caret-right"></span></button>
      </div>
      <div class="element_block sample7">
        <button class="btn btn-secondary btn-lg"><span class="icon icon-caret-left"></span><span>Back</span></button>
      </div>
      <div class="element_block sample8">
        <button class="btn btn-secondary btn-lg"><span>Next</span><span class="icon icon-caret-right"></span></button>
      </div>
      <div class="element_block sample9">
        <button class="btn btn-secondary btn-lg"><span class="icon icon-caret-left"></span><span>Back</span></button>
      </div>
      <div class="element_block sample10">
        <button class="btn btn-secondary btn-lg">Button</button>
      </div>
      <div class="element_block sample11">
        <button class="btn btn-secondary btn-lg">Button</button>
      </div>
      <div class="element_block sample12">
        <button class="btn btn-secondary btn-lg"><span class="icon icon-caret-right"></span><span>Next</span></button>
      </div>
      <div class="element_block sample13">
        <button class="btn btn-secondary btn-lg"><span>Button</span></button>
      </div>
      <div class="element_block sample14">
        <button class="btn btn-secondary btn-lg"><span>Button</span></button>
      </div>
      <div class="element_block sample15">
        <button class="btn btn-secondary btn-lg"><span>Button</span></button>
      </div>
      <div class="element_block sample16">
        <button class="btn btn-secondary btn-lg"><span>Button</span></button>
      </div>
      <div class="element_block sample17">
        <button olive-menu="menuTrigger" class="btn btn-secondary">
          <span class="">Trigger</span>
          <span class="icon icon-menu-triangle-down" aria-hidden="true"></span>
        </button>
      </div>
    </article>
  </body>
  <script src="js/new_animations.js"></script>
</html>
