<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <title>Olive Animations</title>
    <link href="https://docucdn-a.akamaihd.net/olive/17.17.0/css/olive.min.css" rel="stylesheet" type="text/css" />
    <link href="https://docucdn-a.akamaihd.net/olive/17.17.0/css/martini.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style_tutorial.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/new_animations.css"/>

    <script src="js/jquery-1.12.3.min.js"></script>
  </head>
  <body>
    <article class="tab_animation">
      <div class="sample1 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample2 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>


      <div class="sample3 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample4 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample5 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample6 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample7 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample8 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample9 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample10 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample11 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>

      <div class="sample12 container-tabs-default">
        <div class="ng-scope">
          <div class="tabs-wrap ng-scope">
            <ul class="tabs" role="tablist">
              <li class="tab-wrap">
                <button type="button" class="tab on" olive-tab-id="one" role="tab" id="">
                  Tab One
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="two" role="tab" id="">
                  Tab Two
                </button>
              </li>
              <li class="tab-wrap">
                <button type="button" class="tab" olive-tab-id="three" role="tab" id="">
                  Tab Three
                </button>
              </li>
            </ul>
          </div>

          <div class="section ng-scope">
            <div olive-tab-id="one" role="tabpanel" id="" style="display: block;">
              <h3>Tab One</h3>
              <p>Content of the first tab</p>
            </div>
            <div olive-tab-id="two" role="tabpanel" id="" style="display: none;">
              <h3>Tab Two</h3>
              <p>Content of the second tab</p>
            </div>
            <div olive-tab-id="three" role="tabpanel" id="" style="display: none;">
              <h3>Tab Three</h3>
              <p>Content of the third tab</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </body>
  <script src="js/new_animations.js"></script>
</html>
