<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="utf-8" />
    <title>Olive Animations</title>
    <link href="https://docucdn-a.akamaihd.net/olive/17.17.0/css/olive.min.css" rel="stylesheet" type="text/css" />
    <link href="https://docucdn-a.akamaihd.net/olive/17.17.0/css/martini.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style_tutorial.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/new_animations.css"/>

    <script src="js/jquery-1.12.3.min.js"></script>
  </head>
  <body>
    <article class="text_input_animations">
      <div class="element_block sample1">
        <div class="form_unit">
          <input type="text" class="input-text" />
          <label class="label">Text Input Label</label>
        </div>
      </div>
      <div class="element_block sample2">
        <div class="form_unit">
          <label class="label">Text Input Label</label>
          <input type="text" class="input-text" />
        </div>
      </div>
      <div class="element_block sample3">
        <div class="form_unit">
          <label class="label">Text Input Label</label>
          <input type="text" class="input-text" />
        </div>
      </div>
      <div class="element_block sample4">
        <div class="form_unit">
          <label class="label">Text Input Label</label>
          <input type="text" class="input-text" />
        </div>
      </div>
    </article>
  </body>
  <script src="js/new_animations.js"></script>

</html>
