@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500");

/* @font-face {
    font-family: "Lato Light";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/lato/Lato-Light.ttf") format("truetype")
}

@font-face {
    font-family: "Lato Light";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/lato/Lato-LightItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/lato/Lato-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/lato/Lato-RegularItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Lato Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/lato/Lato-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Lato Bold";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/lato/Lato-BoldItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Lato Black";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/lato/Lato-Black.ttf") format("truetype")
}

@font-face {
    font-family: "Lato Black";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/lato/Lato-BlackItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Barlow Light";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/barlow/Barlow-Light.ttf") format("truetype")
}

@font-face {
    font-family: "Barlow Light";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/barlow/Barlow-LightItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/barlow/Barlow-Medium.ttf") format("truetype")
}

@font-face {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/barlow/Barlow-MediumItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Barlow Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/barlow/Barlow-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Barlow Bold";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/barlow/Barlow-BoldItalic.ttf") format("truetype")
}

@font-face {
    font-family: "Barlow Black";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/barlow/Barlow-Black.ttf") format("truetype")
}

@font-face {
    font-family: "Barlow Black";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/barlow/Barlow-BlackItalic.ttf") format("truetype")
} */

html, body {
    margin: 0;
    padding: 0;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    /* font-family: var(--font-family-primary); */
    height: 100%;
    box-sizing: border-box;
}
