:root {
    --scan-grid-color: 0,255,255;
}

.overlay-page {
    padding-bottom: 32px;
    background-color: #EFEFEF;
}
.overlay-page > .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 52px;
    padding: 12px 16px;
    background-color: #FFF;
}
.overlay-page > .header .title {
    font-size: 18px;
}
.overlay-page > .header .close {
    width: 28px;
    height: 28px;
    padding: 4px;
    margin-top: 6px;
    margin-right: 20px;
    cursor: pointer;
}

.card-schedule-payment {
    margin: 64px auto;
    display: flex;
    flex-direction: row;
    width: 850px;
    /* height: 80vh; */
    min-height: 800px;
    max-height: 950px;
    /* justify-content: flex-start;
    align-items: flex-start; */
}
/* .card-schedule-payment.vertical {
    flex-direction: column;
} */
/* .card-schedule-payment .card {
    box-shadow: 0px 5px 5px #D8D8D8;
} */
.card-schedule-payment.card {
    padding: 0;
}
.card-schedule-payment .card-section {
    padding: 0 32px 32px;
    min-height: 100%;
}
.card-schedule-payment .card-section + .card-section {
    border-left: 1px solid #E4E4E4;
}
.card-schedule-payment .upload-card {
    position: relative;
    width: 100%;
    height: 120px;
    /* margin-top: 32px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.card-schedule-payment .upload-card::before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.card-schedule-payment .section-select-vendor {
    flex: 1;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    background-color: #FFF;
}
/* .card-schedule-payment.horizontal .card-section + .section-select-vendor {
    border-left: 1px solid #EAEBED;
}
.card-schedule-payment.vertical .card-section + .section-select-vendor {
    border-top: 1px solid #EAEBED;
} */

.card-schedule-payment .header {
    padding: 0;
    font-size: 20px;
    letter-spacing: -0.5px;
    color: #424242;
    margin-bottom: 20px;
    background-color: transparent;
}
.card-schedule-payment .vendors-list {
    margin-top: 16px;
    max-height: 500px;
    overflow: auto;
}
.card-schedule-payment .vendors-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: #2666B4;
    padding: 0 32px;
    cursor: pointer;
    border-bottom: 1px solid #EAEBED;
    transition: background-color 0.2s ease;
}
.card-schedule-payment .vendors-list-item:hover {
    background-color: #F3F6F9;
}

/* .card-schedule-payment.horizontal .card {
    border-radius: 0;
    box-shadow: 4px 2px 5px #D8D8D8;
}
.card-schedule-payment.horizontal .card:first-of-type {
    border-radius: 6px 0 0 6px;
}
.card-schedule-payment.horizontal .card:last-of-type {
    border-radius: 0 6px 6px 0;
}
.card-schedule-payment.horizontal .card + .card {
    border-left: 1px solid #EAEBED;
}
.card-schedule-payment.horizontal .section-upload-bill {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 375px;
    transition: width 0.2s ease;
}
.card-schedule-payment.horizontal .section-upload-bill.uploaded {
    width: 485px;
}

.card-schedule-payment.vertical .card {
    border-radius: 0;
}
.card-schedule-payment.vertical .card:first-of-type {
    width: 100%;
    border-radius: 6px 6px 0 0;
}
.card-schedule-payment.vertical .card:last-of-type {
    border-radius: 0 0 6px 6px;
}
.card-schedule-payment.vertical .card + .card {
    border-top: 1px solid #EAEBED;
} */
.card-section .top {
    padding-bottom: 32px;
    background-color: #FAFBFC;
}
.card-section .section-divider-title {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: #6D6D6D;
    background-color: #F3F3F3;
}

.section-vendor-list.slide_animation {
    animation: fade-in-right-large 0.25s ease;
}
.section-vendor-list .header {
    padding: 32px 32px 0;
}
.section-vendor-list .form-element {
    padding: 0 32px;
    margin: 8px 0;
}
.section-vendor-details {
    animation: fade-in-left-large 0.25s ease;
}
.section-vendor-details .header {
    font-size: 24px;
    color: #0053C2;
    padding: 32px 32px 0;
}
.section-vendor-details .recent-payments {
    padding: 0 32px;
}
.section-vendor-details .header .icon {
    margin-right: 16px;
    margin-bottom: 2px;
}
.section-vendor-details .form-element + .form-element {
    margin-top: 32px;
}
.section-vendor-details .form-element .input-label {
    color: #5B5B5B;
    font-size: 16px;
}
.section-vendor-details:not(.edit-existing) .existing-schedule,
.section-vendor-details.edit-existing .new-schedule,
.section-vendor-details.edit-existing .icon.back {
    display: none;
}

.section-schedule-payment .top {
    text-align: center;
}
.section-schedule-payment .header {
    padding: 32px 32px 0;
    font-size: 24px;
    color: #0053C2;
    justify-content: center;
}

[data-schedule-state="select-vendor"] .section-vendor-details,
[data-schedule-state="select-vendor"] .section-schedule-payment {
    display: none;
}
[data-schedule-state="edit-vendor"] .section-vendor-list,
[data-schedule-state="edit-vendor"] .section-schedule-payment {
    display: none;
}
[data-schedule-state="payment-scheduled"] .section-vendor-list,
[data-schedule-state="payment-scheduled"] .section-vendor-details {
    display: none;
}

.recent-payments .head {
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #3F3F3F;
}
.recent-payments-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}
.recent-payments-list-item .date {
    font-size: 13px;
    font-weight: 600;
    width: 50px;
    margin-right: 12px;
}
.recent-payments-list-item .status {
    font-size: 12px;
    flex-grow: 1;
    color: #535353;
}
.recent-payments-list-item .amount {
    font-size: 13px;
    font-weight: 600;
    margin-left: 12px;
    text-align: right;
}


.payment-details {
    padding: 32px;
    border-top: 1px solid #E4E4E4;
}
.payment-details .button-group {
    margin: 20px 0;
}
.payment-details .button-group .button {
    margin: 0 0 10px;
}
.payment-details .delivery-method {
    color: #6D6D6D;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-details .delivery-method .data-payment-method {
    margin: 0 4px;
}
.payment-details .delivery-method .icon {
    margin-left: 4px;
}

.payment-details .payment-details-item {
    height: 48px;
    padding: 12px 0;
    color: #616161;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payment-details .payment-details-item + .payment-details-item {
    border-top: 1px solid #EAEBED;
}

.payment-details .payment-details-item .delivery-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.payment-details .payment-details-item .delivery-type img {
    height: 24px;
    margin-left: 16px;
    cursor: pointer;
}
.payment-details .confirm-amount {
    color: #7B93B0;
    font-weight: bold;
    height: 105px;
    margin-top: 16px;
    background-color: #F2F2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.payment-details .confirm-amount .confirm-amount-value {
    color: #2666B4;
    font-size: 30px;
    line-height: 1;
    margin-top: 4px;
}


.card-schedule-payment .section-upload-bill {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 375px;
    height: auto;
    padding-top: 32px;
    transition: width 0.2s ease;
}
.card-schedule-payment .section-upload-bill.uploaded {
    width: 485px;
}

.section-upload-bill .uploading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.section-upload-bill.uploaded .upload-card {
    display: none;
}

.section-upload-bill:not(.uploaded) .uploaded-document-controls,
.section-upload-bill:not(.uploaded) .uploaded-document,
.section-upload-bill:not(.uploaded) .uploading {
    display: none;
}
.uploaded-document {
    overflow: auto;
    padding: 12px;
    background-color: #F2F2F2;
}
.uploaded-document-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.zoom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zoom-controls .icon {
    width: 20px;
    margin-right: 12px;
}
.uploaded-document-page {
    position: relative;
    /* overflow: auto; */
}
.uploaded-document-page-inner {
    position: relative;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    overflow: auto;
}
.uploaded-document-image {
    transform-origin: top left;
    transition: transform 0.15s ease;
}
.highlight-tags {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}
.highlight-tags .highlight-tag {
    position: absolute;
    left: -200px;
    top: -200px;
    border-radius: 4px;
    pointer-events: all;
    background-color: #0053C233;
    border: 1.5px solid #0053C2;
    transition: border-width 0.2s ease, opacity 0.5s ease;
    cursor: pointer;
    animation: fade-in 0.5s ease;
}
.highlight-tags .highlight-tag.highlight {
    border-color: #0053C2;
}
.input-container-inner.highlight::after,
.highlight-tags .highlight-tag.highlight::after {
    content: '';
    position: absolute;
    right: -4px;
    top: -4px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #2666B4;
    transform: scale(0);
    animation: scale-in 0.35s ease forwards;
}
.input-container-inner.highlight::before,
.highlight-tags .highlight-tag.highlight::before {
    content: '';
    position: absolute;
    right: -4px;
    top: -4px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: #2666B4;
    transform: scale(0);
    opacity: 0;
    transform-origin: center;
    animation: pulse 1s ease forwards;
}
.input-container-inner.highlight::before,
.input-container-inner.highlight::after {
    width: 12px;
    height: 12px;
}
.highlight-tags .highlight-tag-deliver-by {
    left: 285px;
    top: 136px;
    width: 54px;
    height: 10px;
}
.highlight-tags .highlight-tag-amount {
    left: 301px;
    top: 258px;
    width: 45px;
    height: 11px;
}
@keyframes scale-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}






.scanning .uploaded-document-page-inner::after {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 30px 30px;
    /* background-image:
        radial-gradient(rgba(0, 0, 0, 0.05) 2px, transparent 2px),
        linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px); */

    background-image:
        radial-gradient(rgba(var(--scan-grid-color),0.25) 2px, transparent 2px),
        linear-gradient(to right, rgba(var(--scan-grid-color),0.3) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(var(--scan-grid-color),0.3) 1px, transparent 1px);
    background-position: 15.5px 15.5px;
    opacity: 0;
    animation: gridColorChange 2.5s 1s linear infinite alternate;
}
.uploaded-document-page.scanning:before,
.uploaded-document-page.scanning:after,
.scanning .uploaded-document-page-inner:after {
    display: block;
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: 10;
}
.uploaded-document-page.scanning:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 200px 30px;
    background-image: linear-gradient(to bottom, rgba(var(--scan-grid-color),0.5) 1px, transparent 1px);
    animation: animateGridHorizontal 5s 1.5s ease-out infinite;
    background-repeat: repeat-y;
    background-position-x: -200px;
}
.uploaded-document-page.scanning:after {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 30px 400px;
    background-image: linear-gradient(to right, rgba(var(--scan-grid-color),0.5) 1px, transparent 1px);
    animation: animateGridVertical 5s 1s ease-out infinite;
    background-repeat: repeat-x;
    background-position-y: -400px;
}
/* .uploaded-document-page.scanning:before {
    width: 200px;
    height: 2px;
    left: 0;
    top: 83px;
    background-image: -webkit-gradient(linear,left top, right top,from(rgba(0,255,255,0.2)),color-stop(60%, rgba(0,255,255,0.8)));
    background-image: linear-gradient(to right,rgba(0,255,255,0.2),rgba(0,255,255,0.8) 60%);
    border-top-left-radius: 300px 10px;
    border-bottom-left-radius: 300px 10px;
    -webkit-box-shadow: -20px 0 10px 2px rgba(0,255,255,0.4), 30px 0 20px 10px rgba(0,255,255,0.2);
    box-shadow: -20px 0 10px 2px rgba(0,255,255,0.4), 30px 0 20px 10px rgba(0,255,255,0.2);
    background-size: 40px 40px;
    animation: animateGridHorizontal 1.5s 0.3s ease-out infinite ;
}
.uploaded-document-page.scanning:after {
    background-color: #FFF;
    border-radius: 30px;
    animation: animateGridVertical 1.5s ease-out infinite reverse;

    background-size: 40px 40px;
    width: 2px;
    height: 200px;
    top: -10px;
    left: 80px;
    background-image: linear-gradient(to top,rgba(0,255,255,0.2),rgba(0,255,255,0.8) 60%);
} */
@keyframes animateGridHorizontal {
    from {
        background-position-x: -200px;
    }
    to {
        background-position-x: calc(100% + 200px);
    }
}
@keyframes animateGridVertical {
    from {
        background-position-y: -400px;
    }
    to {
        background-position-y: calc(100% + 400px);
    }
}
@keyframes gridColorChange {
    0% {
        /* opacity: 1;
        transform: scale(1); */
        /* background-image:
            radial-gradient(rgba(0,0,0,0.1) 0, transparent 0),
            linear-gradient(to right, rgba(0,255,255,0.3) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(0,255,255,0.3) 1px, transparent 1px); */
    }
    100% {
        opacity: 1;
        /* transform: scale(1); */
        /* background-image:
            radial-gradient(rgba(0,255,255,0.25) 2px, transparent 2px),
            linear-gradient(to right, rgba(0,255,255,0.3) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(0,255,255,0.3) 1px, transparent 1px); */
            /* linear-gradient(to right, #EAEAEA 1px, transparent 1px),
            linear-gradient(to bottom, #EAEAEA 1px, transparent 1px); */
    }
}






.card-add-vendor {
    position: relative;
    margin: 64px auto;
    width: 400px;
    padding: 0;
}
.card-add-vendor .header {
    font-size: 18px;
    margin-bottom: 24px;
    padding: 24px 32px 0;
}
.card-add-vendor .form-element {
    padding-left: 32px;
    padding-right: 32px;
}
.card-add-vendor .section-divider-title {
    padding-left: 32px;
    padding-right: 32px;
    background-color: rgba(1, 33, 105, 0.1);
}
.card-add-vendor .search-vendor-results {
    margin-top: 24px;
    /* animation: fade-in-top 0.2s ease; */
}
.card-add-vendor .search-vendor-results .total-results {
    color: #666666;
    margin: 16px 16px 0;
}
.card-add-vendor .network-vendors-list {
    height: 400px;
    overflow: auto;
}
.network-vendors-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-add-vendor .network-vendors-list .network-vendors-list-item {
    margin: 0 16px;
    padding: 16px 0;
    border-bottom: 1px solid #EAEBED;
    opacity: 0;
    animation: fade-in-top 0.2s 0.33s ease forwards;
}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(1) {animation-delay: 0.03s;}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(2) {animation-delay: 0.06s;}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(3) {animation-delay: 0.09s;}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(4) {animation-delay: 0.12s;}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(5) {animation-delay: 0.15s;}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(6) {animation-delay: 0.18s;}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(7) {animation-delay: 0.21s;}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(8) {animation-delay: 0.24s;}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(9) {animation-delay: 0.27s;}
.card-add-vendor .network-vendors-list .network-vendors-list-item:nth-child(10) {animation-delay: 0.30s;}
.network-vendors-list-item .vendor-logo {
    width: 32px;
    height: 32px;
    padding: 4px;
    margin-right: 16px;
    background-color: #F5F5F5;
    border: 1px solid #EAEBED;
    border-radius: 6px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.network-vendors-list-item .vendor-info {
    flex: 1;
    margin-right: 16px;
    overflow: hidden;
}
.network-vendors-list-item .vendor-name {
    /* font-size: 14px; */
    font-weight: 600;
}
.network-vendors-list-item .vendor-address {
    font-size: 13px;
    color: #666666;
}
.network-vendors-list-item .vendor-email {
    font-size: 13px;
    color: #666666;
}

.card-add-vendor .add-form-elem {
    display: flex;
    align-items: center;
}
.card-add-vendor .add-form-elem img {
    margin-right: 4px;
}

.card-add-vendor .form-element .button-full {
    margin: 16px 0;
}



.card-add-vendor .sticky-footer {
    height: 55px;
    padding: 16px 32px;
}
.card-add-vendor .add-vendor-manual:not(.hide) + .sticky-footer {
    /* box-shadow: 0px -2px 2px rgba(102, 102, 102, 0.25); */
    display: none;
}
.card-add-vendor .add-vendor-manual .form-element {
    opacity: 0;
    animation: fade-in-top 0.2s 0.33s ease forwards;
}
.card-add-vendor .add-vendor-manual .form-element:nth-child(1) {animation-delay: 0.03s;}
.card-add-vendor .add-vendor-manual .form-element:nth-child(2) {animation-delay: 0.06s;}
.card-add-vendor .add-vendor-manual .form-element:nth-child(3) {animation-delay: 0.09s;}
.card-add-vendor .add-vendor-manual .form-element:nth-child(4) {animation-delay: 0.12s;}
.card-add-vendor .add-vendor-manual .form-element:nth-child(5) {animation-delay: 0.15s;}
.card-add-vendor .add-vendor-manual .form-element:nth-child(6) {animation-delay: 0.18s;}
.card-add-vendor .add-vendor-manual .form-element:nth-child(7) {animation-delay: 0.21s;}
.card-add-vendor .add-vendor-manual .form-element:nth-child(8) {animation-delay: 0.24s;}
.card-add-vendor .add-vendor-manual .form-element:nth-child(9) {animation-delay: 0.27s;}
.card-add-vendor .add-vendor-manual .form-element:nth-child(10) {animation-delay: 0.30s;}

.card-connect-to-vendor {
    position: relative;
    margin: 64px auto;
    width: 400px;
    padding: 24px 24px 32px;
}
.card-connect-to-vendor .header-instructions {
    font-size: 13px;
    line-height: 18px;
    color: #666666;
}
.card-connect-to-vendor .header {
    font-size: 18px;
}
.card-connect-to-vendor .card-connect-vendor-details {
    margin-top: 48px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #EAEBED;
}
.card-connect-to-vendor .button-group {
    margin-top: 32px;
    text-align: right;
}




.card-add-autopay {
    position: relative;
    margin: 64px auto;
    width: 400px;
}
.card-add-autopay .header {
    font-size: 20px;
    margin-bottom: 24px;
    padding: 24px 0 0;
}
.card-add-autopay .header .header-subscript {
    color: #666666;
    font-size: 13px;
    line-height: 20px;
    margin-top: 8px;
}
.card-add-autopay:not(.large-biller) .large-bill-vendor-autopay,
.card-add-autopay.large-biller .small-bill-vendor-autopay {
    display: none;
}



.hero-vendor-details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.hero-vendor-details .vendor-logo {
    width: 145px;
    height: 145px;
    margin-right: 42px;
    padding: 32px;
    border-radius: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-vendor-details .vendor-logo img {
    /* width: 100%; */
    height: 100%;
}
.hero-vendor-details .vendor-name {
    font-weight: bold;
    font-size: 32px;
    line-height: 52px;
    color: #212121;
}
.hero-vendor-details .vendor-address {
    /* max-width: 160px; */
}
.hero-vendor-details .vendor-edit {
    font-size: 12px;
    margin-top: 4px;
}