
/*PREVIEW MODE*/
.preview_mode {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  background-color: #F7F7F7;
}
.original_doc {
  display: none;
  opacity: 0;
  width: 100%;
}
.responsive_container {
  position: relative;
  margin: 20px auto;
  padding: 0 20px;
  width: 85%;
  height: 80%;
  overflow: hidden;
  box-shadow: 2px 2px 4px #888;
  /*background-color: #FFF;*/

  display: flex;
  justify-content: space-between;
}
.responsive_container .bottom-bar {
  bottom: 20px;
}
.phone .responsive_container .bottom-bar {
  bottom: 0px;
}
.preview_mode.desktop .responsive_container {
  /*min-width: 1024px;*/
  /*max-width: 2048px;
  max-height: 1024px;*/
  width: 100%;
  height: 89%;
  margin: auto;
  box-shadow: none;
  /*background-color: #F7F7F7;*/
}
.preview_mode.tablet .responsive_container {
  max-width: 780px;
  max-height: 960px;
}
.preview_mode.phone .responsive_container {
  max-width: 320px;
  max-height: 640px;
  padding: 0;
}
.preview_mode.print .responsive_container {
  max-width: 1024px;
  height: auto;
}
.preview_mode.print .preview_form {
  display: none;
  opacity: 0;
}
.preview_mode.print .original_doc {
  display: block;
  opacity: 1;
}

.tabs .tab:not(.on):hover {
  border-bottom-color: #B0B0B0;
  /*color: #333;
  background-color: #D8D8D8;*/
}
.tabs .tab-wrap {
  margin-right: 0px;
}
.tabs .tab {
  padding: 10px 20px 15px;
}

#previewToolbar .toolbar_left, #previewToolbar .toolbar_right {
  position: relative;
  width: 300px;
}
.text_preview_as {
  width: 150px;
}

.previewWorkflow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #E9E9E9;
  z-index: 1000;
}
.btn-conditional-logic {
  font-size: 11px;
  padding: 5px 10px;
}
.btn-conditional-logic.icon {
  font-size: 16px;
}
.modal_close {
  top: 10px;
  right: 10px;
}

.conditional-workflow {
  position: absolute;
  left: 0;
  top: 0;
  width: 38px !important;
  margin: 0 !important;
  /*background-color: #888;*/
  height: 100%;
}
.conditional-viz {
  height: 100%;
  width: 100%;
  /*background-color: rgba(0, 0, 0, 0.05);*/
}

.preview_document {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}
.preview_doc_header {
  color: #FFF;
  height: 50px;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.preview_doc_header > div {
  margin: 15px 5px;
  padding: 0 10px;
}
.preview_doc_header > div:not(:first-of-type) {
  border-left: 1px solid #FFF;
}
.preview_doc_header > .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 15px;
  cursor: pointer;
}
.preview_document .disabled_document {
  position: relative;
  margin: auto;
  width: 80%;
  height: calc(100% - 50px);
  overflow: auto;
}
.disabled_document .shroud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  repeating-linear-gradient(
    45deg,
    rgba(100, 100, 100, 0.2),
    rgba(100, 100, 100, 0.2) 2px,
    transparent 2px,
    transparent 16px
  );
  z-index: 1;
}
.btn-preview-document img {
  vertical-align: bottom;
  margin-right: 10px;
}

.fields_status {
  display: flex;
  justify-content: center;
}
.fields_status > div {
  margin: 0 5px;
}
.fields_status .icon {
  /*width: 20px;
  height: 20px;*/
  cursor: pointer;
}

.preview_mode .documents-wrapper {
  height: 100%;
  overflow: auto;
}


#autonav {
  /*background: #357eeb; BLUE BUTTON*/
  background-color: #ffc820;
  color: #333;
  display: inline-block;
  height: 40px;
  position: absolute;
  top: 100px;
  left: 5px;
  z-index:10;
  min-width: 40px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  border-radius: 2px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  cursor:pointer;
  opacity:1;
  filter: alpha(opacity=100);
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

#autonav::after {
  /*border-bottom: 15px solid #357eeb; BLUE BUTTON*/
  border-left: 15px solid #ffc820;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  content: "";
  height: 0;
  left: 100%;
  position: absolute;
  top: 0px;
  width: 0;
  cursor:pointer;
  -webkit-transition: .2s ease-in-out;
          transition: .2s ease-in-out;
}

#autonav p {
	/*-webkit-transform:rotate(-90deg);
	    -ms-transform:rotate(-90deg);
	        transform:rotate(-90deg);*/
	font-family:'Maven Pro', Helvetica, sans-serif;
	font-size:14px;
  font-weight: bold;
	/*color:#333;*/
	text-align: center;
	margin:auto;
  padding: 0 15px;
	line-height:40px;
	letter-spacing: .6px;
	/*margin-top:22px;*/
	text-transform: uppercase;
}
#autonav:hover{
	/*background-color:#2166df; BLUE BUTTON */
	background-color: #F6B610;
}

#autonav:hover#autonav:after{
	/*border-bottom: 15px solid #2166df; BLUE BUTTON*/
	border-left: 15px solid #F6B610;
}

#autonav:active{
	/*background-color:#5397f9; BLUE BUTTON*/
	background-color: #ffda3c;
	-webkit-transition: 0s ease-in-out;
	        transition: 0s ease-in-out;
}

#autonav:active#autonav:after{
	/*border-bottom: 15px solid #5397f9; BLUE BUTTON*/
	border-left: 15px solid #ffda3c;
	-webkit-transition: 0s ease-in-out;
	        transition: 0s ease-in-out;
}

.document_page {
  position: relative;
}
#envelope-wrapper {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.field {
  position: absolute;
  /*height: 5%;*/
  top: 75%;
  left: 25%;
  width: 60px;
  min-width: 25px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #ffc820;
}

.responsive_container .content_sidebar-right {
  /*width: 220px;*/
  flex-grow: 0;
}

.preview_mode .tabs-wrap {
  margin-top: 0;
}
.preview_mode .preview_email_tab {
  text-align: center;
  overflow: scroll;
  height: calc(100% - 45px);
}
.preview_mode .preview_email_tab > img {
  max-width: 1024px;
}
