<html lang="en">
<head>
  <link type="image/x-icon" rel="shortcut icon" href="resources/img/logo/favicon_3.ico?r=4950">
  <title>Tabs - ThoughtSpot</title>
  <link rel="stylesheet" href="css/body.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/tabs.css">
  <script src="js/jquery-3.3.1.min.js"></script>
</head>

<body>
  <section class="prototype-description">
    <h1 class="header">Radiant Tabs</h1>
  </section>
  <div class="sections-flex base-buttons">
    <section class="section-radiant">
      <h1 class="header">Exploration 1</h1>
      <div class="display-grid">
        <div class="bk-filter-item ng-scope" ng-repeat="filter in filters">
          <ul class="bk-top-menu-filters">
              <li class="bk-category-tab bk-selected">
                  <span class="bk-filter-text ng-binding" title="All types">All types</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Worksheets">Worksheets</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Tables">Tables</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Views">Views</span>
                  <span class="bk-filter-border"> </span>
              </li>
          </ul>
        </div>
      </div>
    </section>


    <section class="section-radiant exploration2">
      <h1 class="header">Exploration 2</h1>
      <div class="display-grid">
        <div class="bk-filter-item ng-scope" ng-repeat="filter in filters">
          <ul class="bk-top-menu-filters">
              <li class="bk-category-tab bk-selected">
                  <span class="bk-filter-text ng-binding" title="All types">All types</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Worksheets">Worksheets</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Tables">Tables</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Views">Views</span>
                  <span class="bk-filter-border"> </span>
              </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section-radiant exploration3">
      <h1 class="header">Exploration 3</h1>
      <div class="display-grid">
        <div class="bk-filter-item ng-scope" ng-repeat="filter in filters">
          <ul class="bk-top-menu-filters">
              <li class="bk-category-tab bk-selected">
                  <span class="bk-filter-text ng-binding" title="All types">All types</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Worksheets">Worksheets</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Tables">Tables</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Views">Views</span>
                  <span class="bk-filter-border"> </span>
              </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section-radiant exploration4">
      <h1 class="header">Exploration 4</h1>
      <div class="display-grid">
        <div class="bk-filter-item ng-scope" ng-repeat="filter in filters">
          <ul class="bk-top-menu-filters">
              <li class="bk-category-tab bk-selected">
                  <span class="bk-filter-text ng-binding" title="All types">All types</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Worksheets">Worksheets</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Tables">Tables</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Views">Views</span>
                  <span class="bk-filter-border"> </span>
              </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section-radiant exploration5">
      <h1 class="header">Exploration 5</h1>
      <div class="display-grid">
        <div class="bk-filter-item ng-scope" ng-repeat="filter in filters">
          <ul class="bk-top-menu-filters">
              <li class="bk-category-tab bk-selected">
                  <span class="bk-filter-text ng-binding" title="All types">All types</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Worksheets">Worksheets</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Tables">Tables</span>
                  <span class="bk-filter-border"> </span>
              </li>
              <li class="bk-category-tab">
                  <span class="bk-filter-text ng-binding" title="Views">Views</span>
                  <span class="bk-filter-border"> </span>
              </li>
          </ul>
        </div>
      </div>
    </section>

  </div>
</body>
<script type="text/javascript" src="js/script_tabs.js"></script>
</html>
