<html class="">

<head>
  <!-- <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style> -->
  <meta charset="utf-8">
  <!-- <script type="text/javascript" async="" src="//docucdn-a.akamaihd.net/v/static/mixpanel-2-2-1b.js"></script> -->

  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
  <title>Manage | DocuSign</title>
  <script src="js/jquery-1.12.3.min.js"></script>

  <link rel="icon" type="image/x-icon" href="https://docucdn-a.akamaihd.net/olive/17.22.0/img/new_favicon.png">
  <link rel="stylesheet" type="text/css" href="https://docucdn-a.akamaihd.net/olive/17.22.0/css/olive.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="https://docucdn-a.akamaihd.net/olive/17.22.0/css/martini.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="https://docucdn-a.akamaihd.net/olive/17.22.0/css/tagger.min.css"> -->
  <link href="css/style_modal.css" rel="stylesheet" type="text/css" />
  <link href="css/style_manage.css" rel="stylesheet" type="text/css" />
  <link href="css/style_annotations.css" rel="stylesheet" type="text/css" />

</head>

<body class="">
  <nav class="site-header">
    <div class="site-container">
      <a href="index.html" class="logo logo-docusign"></a>
      <div class="main-nav">
        <a href="index.html" class="item ng-scope ng-binding">Home</a>
        <a href="#" class="item ng-scope ng-binding on">Manage</a>
        <a href="#" class="item ng-scope ng-binding feature_unavailable">Templates</a>
      </div>
      <div class="site-header-links ng-scope">
        <div class="actions">
          <button class="btn btn-main ng-binding ng-scope" type="button">Upgrade</button>
          <div class="feature_unavailable"><span class="icon icon-notification"></span></div>
          <div class="user_help" data-menu-id="user_help"><span class="icon icon-help"></span></div>
          <div class="feature_unavailable show_onboarding_checklist"><span class="icon icon-list"></span></div>
          <div class="avatar avatar-medium avatar-placeholder">
            <svg viewBox="0 0 96 96">
              <svg xmlns="http://www.w3.org/2000/svg" id="placeholder" width="96" height="96" viewBox="0 0 96 96">
                <path fill="currentColor" d="M48,52 C39.163444,52 32,44.836556 32,36 C32,27.163444 39.163444,20 48,20 C56.836556,20 64,27.163444 64,36 C64,44.836556 56.836556,52 48,52 Z M48,56 C64,56 80,64.2051282 80,72.4102564 L80,96 L16,96 L16,72.4102564 C16,64.2051282 32,56 48,56 Z"></path>
              </svg>
            </svg>
          </div>
        </div>

        <div id="menuAccountNav" class="menu below right invisible" data-qa="menuAccountNav" style="top: 56px; left: auto; right: 30px; min-width: 120px;width: 300px;">
          <div class="menu-section">
            <div class="grid ng-scope">
              <table class="id-card">
                <tbody>
                  <tr>
                    <td class="block-lg">
                      <div class="block_picture block_picture-avatar">
                        <img alt="User Avatar" src="images/alex_edwards_pic.png" class="avatar-landscape" style="visibility: visible;">
                      </div>
                    </td>
                    <td class="id-card-info ng-binding">
                      <strong data-qa="header-account-name" class="line-1 ng-binding">DocuSign</strong><br><span data-qa="header-account-email" class="ng-binding">corey.kimel@acme.com</span><br>1234567<br>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <ul class="menu-grouping" role="menu">
            <li role="menuitem">
              <a class="item ng-binding" href="#">Go to Admin</a>
            </li>
            <li role="menuitem">
              <a class="item ng-binding">My Preferences</a>
            </li>
            <li role="menuitem"></li>
            <li class="ng-scope" role="menuitem">
              <a class="item ng-binding">Switch to Classic</a>
            </li>
            <li role="menuitem">
              <a class="item ng-binding">Feedback</a>
            </li>
            <li role="menuitem">
              <a class="item ng-binding">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="btn-nav btn-side-nav">
        <span class="icon icon-search"></span> <span class="sr-text ng-binding">Filter</span>
      </button>
    </div>
  </nav>

  <div class="ng-scope">
    <div class="site site-classic ng-scope" ng-if="enableApp">
      <!-- Site structure -->
      <div class="site_wrap">
        <div class="site_content content loading ng-scope">
          <div class="content_wrap ng-isolate-scope">
            <div class="content_left resizable ng-isolate-scope">
              <!-- Resize -->
              <div class="resize-horizontal resize-right resize-line ng-isolate-scope"></div>

              <!-- Actions / Shared users -->
              <div class="sidebar_group">

                <!-- Create button -->
                <envelopes-new-actions-button page-name="docs" class="ng-scope ng-isolate-scope">
                  <div class="ng-scope sidebar_item">
                    <!-- Meerkat button -->
                    <button class="btn btn-main ng-binding ng-scope btn-full btn-lg" type="button" data-callout="homepage_new_button" data-qa="button-new-document">New</button>

                    <div id="menuNewDocument" class="menu invisible ng-scope" style="opacity: 0; top: 0px; left: 0px; min-width: 172px;">
                      <ul role="menu">
                        <li role="menuitem">
                          <button class="item ng-scope ng-binding" type="button" data-qa="link-create-new-document">
                            Send an Envelope
                          </button>
                        </li>
                        <li class="ng-scope" role="menuitem">
                          <button class="item ng-scope ng-binding" type="button" data-qa="link-sign-new-document" ds-analytics="docs-mutton-sign">
                            Sign a Document
                          </button>
                        </li>
                        <li class="ng-scope" role="menuitem">
                          <button class="item ng-scope ng-binding" type="button" data-qa="link-use-template" ds-analytics="docs-mutton-template">
                            Use a Template
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </envelopes-new-actions-button>

                <!-- Shared users -->
                <shared-users-button class="ng-isolate-scope"></shared-users-button>
              </div>

              <!-- Folders / PowerForms -->
              <div class="sidebar_group">
                <envelopes-views class="ng-isolate-scope">
                  <div class="sidebar_item">
                    <h4 class="sidebar_title ng-binding">Envelopes</h4>
                    <div class="menu-nav">
                      <ul class="menu_list">
                        <li class="menu_listItem ng-isolate-scope" data-qa="Inbox-folder" key="inbox" name="Inbox" icon="icon-inbox">
                          <a class="menu_item ng-scope ui-droppable menu_item-isOn" href="/documents?view=inbox">
                            <!-- Folder name and icon -->
                            <span class="menu_itemIcon icon-inbox"></span>
                            <span class="ng-binding">Inbox</span>
                          </a>
                        </li>
                        <li class="menu_listItem ng-isolate-scope" data-qa="Sent-folder" key="sent" name="Sent" icon="icon-sent" >
                          <a class="menu_item ng-scope ui-droppable" href="/documents?view=sent">
                            <!-- Folder name and icon -->
                            <span class="menu_itemIcon icon-sent"></span>
                            <span class="ng-binding">Sent</span>
                          </a>
                        </li>
                        <li class="menu_listItem ng-isolate-scope" data-qa="Drafts-folder" key="draft" name="Drafts" icon="icon-draft">
                          <a ng-if="!component.dropOptions" class="menu_item ng-scope" ng-href="/documents?view=draft" href="/documents?view=draft">
                            <!-- Folder name and icon -->
                            <span class="menu_itemIcon icon-draft"></span>
                            <span class="ng-binding">Drafts</span>
                          </a>
                        </li>
                        <li class="menu_listItem ng-isolate-scope" data-qa="Deleted-folder" key="deleted" name="Deleted" icon="icon-trash">
                          <a class="menu_item ng-scope ui-droppable" href="/documents?view=deleted">
                            <!-- Folder name and icon -->
                            <span class="menu_itemIcon icon-trash"></span>
                            <span class="ng-binding">Deleted</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </envelopes-views>
                <folders-smart-list class="ng-isolate-scope">
                  <div class="sidebar_item">
                    <h4 class="sidebar_title ng-binding" data-callout="manage-filters">
                      Quick Views
                    </h4>
                    <div class="menu-nav">
                      <ul class="menu_list">
                        <li class="menu_listItem ng-isolate-scope" key="action-required" name="Action Required" icon="icon-action-required">
                          <a class="menu_item" href="/documents?label=action-required">
                            <span data-qa="smart-folder-Action Required">
                              <span class="menu_itemIcon icon-action-required"></span>
                              <span class="ng-binding">Action Required</span>
                            </span>
                          </a>
                        </li>
                        <li class="menu_listItem ng-isolate-scope" key="waiting-for-others" name="Waiting for Others" icon="icon-clock">
                          <a class="menu_item" href="/documents?label=waiting-for-others">
                            <span data-qa="smart-folder-Waiting for Others">
                              <span class="menu_itemIcon icon-clock"></span>
                              <span class="ng-binding">Waiting for Others</span>
                            </span>
                          </a>
                        </li>
                        <li class="menu_listItem ng-isolate-scope" key="expiring-soon" name="Expiring Soon" icon="icon-alert">
                          <a class="menu_item" href="/documents?label=expiring-soon">
                            <span data-qa="smart-folder-Expiring Soon">
                              <span class="menu_itemIcon icon-alert"></span>
                              <span class="ng-binding">Expiring Soon</span>
                            </span>
                          </a>
                        </li>
                        <li class="menu_listItem ng-isolate-scope" key="completed" name="Completed" icon="icon-completed">
                          <a class="menu_item" href="/documents?label=completed">
                            <span data-qa="smart-folder-Completed">
                              <span class="menu_itemIcon icon-completed"></span>
                              <span class="ng-binding">Completed</span>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </folders-smart-list>
                <folders-tree class="ng-isolate-scope">
                  <div class="sidebar_item" data-callout="manage-folders">
                    <div class="tree tree-sidebar" data-qa="folderList">
                      <ul class="tree_list">
                        <li>
                          <!-- Folder info -->
                          <span class="tree_title">
                            <!-- Open / Close icon for folder -->
                            <!-- Folder name and icon -->
                            <span class="tree_itemText">
                              <button type="button" class="btn btn-minor btn-icon tree_itemIconRight ng-scope ng-isolate-scope" data-qa="menu-new-folder">
                                <span class="icon icon-add" olive-tooltip="acae6814-cf2d-4d0a-78a9-5465eb8989b8"></span>
                              </button>
                              <h4 class="sidebar_title ng-binding">Folders</h4>
                            </span>
                          </span>
                        </li>
                      </ul>
                      <!-- Recursive subfolders -->
                    </div>
                  </div>
                </folders-tree>
                <powerforms-tree class="ng-isolate-scope">
                  <div class="sidebar_item ng-scope">
                    <!-- Powerforms tree -->
                    <div class="tree tree-sidebar">
                      <ul class="tree_list">
                        <!-- Show powerforms feature wall -->
                        <!-- Has one root powerform label -->
                        <li class="ng-scope">
                          <span class="tree_title">
                            <!-- Open / Close icon for powerForm -->
                            <span class="tree_itemTrigger icon-menu-triangle-right" data-qa="tree-powerform"></span>
                            <!-- Folder name and icon -->
                            <span class="tree_itemText">
                              <h4 class="sidebar_title ng-binding" data-qa="powerform-dropdown">
                                PowerForms
                              </h4>
                            </span>
                          </span>
                        </li>
                      </ul>
                      <!-- List of powerforms -->
                      <!-- Empty list powerforms -->
                    </div>
                  </div>
                </powerforms-tree>
              </div>
            </div>
            <div class="content_main ng-isolate-scope">
              <!-- We selling powerforms up in here -->
              <envelopes-list-view class="ng-scope ng-isolate-scope">
                <div>
                  <!-- Show the correct header for the view based on props -->
                  <div>
                    <div class="listHeaderWrap cheshireContainer">
                      <!-- Search box -->
                      <div class="listHeader">
                        <div>
                          <!-- Action Buttons -->
                          <!-- Search bar -->
                          <envelopes-header class="ng-scope ng-isolate-scope">
                            <div class="listHeader_titleRow fgrid">
                              <!-- Title -->
                              <div class="fgrid_cell">
                                <!-- Powerform header info -->
                                <!-- Envelopes info header -->
                                <div class="ng-scope">
                                  <h1 class="listHeader_heading">
                                    <span class="ng-binding ng-scope">Inbox</span>
                                  </h1>
                                </div>
                              </div>
                              <!-- Filter -->
                              <div class="fgrid_cell fgrid_cell-auto">
                                <envelopes-filters-input class="ng-isolate-scope">
                                  <form class="u-inline-block ng-pristine ng-valid">
                                    <!-- Visible every time -->
                                    <span class="cheshire_visibleContent u-inline-block">
                                      <!-- Search -->
                                      <span class="listHeader_search">
                                        <div class="form_item-iconLeft form_item-iconRight">
                                          <span class="icon icon-search"></span>
                                          <input type="text" class="input-text ng-pristine ng-untouched ng-valid" data-qa="input-search" placeholder="Search Inbox and Folders" aria-label="Search Inbox and Folders">
                                          <button type="button" class="button-icon ng-hide">
                                            <span class="icon icon-close"></span>
                                          </button>
                                        </div>
                                      </span>
                                      <!-- Button to show filters -->
                                      <button class="btn btn-minor" type="button" data-callout="manage-advanced-filters" data-qa="filter-menu-button">
                                        <span class="icon icon-filter"></span>
                                        <span class="ng-binding">Filters</span>
                                      </button>
                                    </span>

                                    <div id="envelopesFilter" class="cheshire cheshire-topRight cheshire-off" style="opacity: 0; top: 0px; left: 0px;">
                                      <!-- Content -->
                                      <div class="cheshire_body">
                                        <div class="cheshire_placeholder"></div>
                                        <!-- Visible on demand -->
                                        <div>
                                          <!-- Custom search -->
                                          <div class="form-group ng-scope">
                                            <div class="form_unit">
                                              <div class="cb">
                                                <!-- Input -->
                                                <input class="cb_input ng-pristine ng-untouched ng-valid" type="checkbox" id="checkbox-custom">
                                                <!-- Label -->
                                                <label class="cb_label ng-binding" data-qa="custom-field-search-checkbox" for="checkbox-custom">
                                                  Search in envelope custom fields
                                                </label>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Status -->
                                          <div class="form_row ng-scope">
                                            <div class="form_unit" style="flex-basis: 100%;">
                                              <div name="Status" model="$props.status" options="$props.statusFilters" class="ng-isolate-scope">
                                                <!-- Label -->
                                                <label class="label ng-binding" for="button-status">Status</label>
                                                <!-- Current -->
                                                <button class="btn btn-select btn-trigger ng-binding" type="button" id="button-status" data-qa="button-filter-status">All</button>
                                                <!-- Options -->
                                                <div class="menu invisible select-menu" id="menu-status" style="opacity: 0; top: 0px; left: 0px; min-width: 220px;">
                                                  <ul role="menu">
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding on" type="button" data-qa="filter-status-all">All</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-status-in-progress">In Progress</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-status-completed">Completed</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-status-declined">Declined</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-status-voided">Voided</button>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Sent -->
                                          <div class="form_row ng-scope">
                                            <div class="form_unit" style="flex-basis: 100%;">
                                              <div name="Sent" model="$props.sent" options="component.presets.sent" class="ng-isolate-scope">
                                                <!-- Label -->
                                                <label class="label ng-binding" for="button-sent">Sent</label>
                                                <!-- Current -->
                                                <button class="btn btn-select btn-trigger ng-binding" type="button" id="button-sent">By Anyone</button>
                                                <!-- Options -->
                                                <div class="menu invisible select-menu" id="menu-sent" style="opacity: 0; top: 0px; left: 0px; min-width: 220px;">
                                                  <ul role="menu">
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding on" type="button" data-qa="filter-sent-by-anyone">By Anyone</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-sent-by-me">By Me</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-sent-to-me">To Me</button>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Date -->
                                          <div class="form_row">
                                            <div class="form_unit" style="flex-basis: 100%;">
                                              <div name="Date" model="$props.date" options="component.presets.date" class="ng-isolate-scope">
                                                <!-- Label -->
                                                <label class="label ng-binding" for="button-date">Date</label>
                                                <!-- Current -->
                                                <button class="btn btn-select btn-trigger ng-binding" type="button" id="button-date">Last 6 Months</button>
                                                <!-- Options -->
                                                <div class="menu invisible select-menu" id="menu-date" style="opacity: 0; top: 0px; left: 0px; min-width: 220px;">
                                                  <ul role="menu">
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-date-all">All</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-date-last-12-months">Last 12 Months</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding on" type="button" data-qa="filter-date-last-6-months">Last 6 Months</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-date-last-30-days">Last 30 Days</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-date-last-week">Last Week</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-date-last-24-hours">Last 24 Hours</button>
                                                    </li>
                                                    <li class="ng-scope" role="menuitem">
                                                      <button class="item ng-binding" type="button" data-qa="filter-date-custom">Custom</button>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Custom date -->
                                        </div>
                                      </div>
                                      <!-- Filters actions -->
                                      <div class="cheshire_footer">
                                        <div class="fgrid">
                                          <div class="fgrid_cell">
                                            <button type="submit" class="btn btn-primary ng-binding" data-qa="filter-menu-apply">Apply</button>
                                            <button type="reset" class="btn btn-minor ng-binding" ng-click="component.reset()" data-qa="filter-reset">Reset</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                </envelopes-filters-input>
                              </div>
                            </div>
                          </envelopes-header>
                        </div>
                        <!-- Current filter list -->
                        <envelopes-filters-list class="ng-isolate-scope">
                          <div class="listHeader_filtersRow ng-scope">
                            <strong class="ng-binding">Filtered by:</strong>
                            <span class="ng-scope">
                              <span class="ng-binding">Date (Last 6 Months)</span>
                            </span>
                            <span class="listHeader_filtersRowAction ng-scope">
                              <a data-qa="edit-filter-documents-link" class="ng-binding ng-isolate-scope">Edit</a>
                            </span>
                          </div>
                        </envelopes-filters-list>
                      </div>
                    </div>
                  </div>
                  <!-- Empty List States -->
                  <!-- Envelope list -->
                  <table class="table respTable-noColumns u-no-border ng-scope ng-isolate-scope" data-callout="manage-doc">
                    <!-- Envelope list header -->
                    <thead>
                      <tr>
                        <th class="table_cell-checkbox ng-scope">&nbsp;</th>
                        <th class="table_cell-icon">&nbsp;</th>
                        <th class="ng-binding">Subject</th>
                        <th class="ng-binding">Status</th>
                        <th class="ng-binding ng-scope">Last change</th>
                        <!-- ngSwitchWhen: sent -->
                        <!-- ngIf: $props.showFolder -->
                        <th><span class="vh ng-binding">Actions</span></th>
                      </tr>
                    </thead>
                    <!-- Envelope list body -->
                    <tbody>
                      <!-- Show envelopes -->
                      <tr class="table_row-clickable table_row-icon ng-isolate-scope ui-draggable ui-draggable-handle" envelope-id="914dff41-0358-4aeb-a74b-e2959f53e791" style="opacity: 1;">
                        <!-- Checkbox for select -->
                        <td class="table_cell-checkbox ng-scope ng-isolate-scope">
                          <span class="cb cb-noText" data-label="label-select-document" data-qa="label-select-document-914dff41-0358-4aeb-a74b-e2959f53e791">
                            <input class="cb_input ng-pristine ng-untouched ng-valid" type="checkbox" id="envelope-checkbox-914dff41-0358-4aeb-a74b-e2959f53e791" ng-model="$props.checked" ng-change="component.toggleCheckbox()">
                            <label class="cb_label ng-binding" for="envelope-checkbox-914dff41-0358-4aeb-a74b-e2959f53e791">Select</label>
                          </span>
                        </td>
                        <!-- Icon -->
                        <td class="table_cell-icon" ng-switch="$props.expiring">
                          <span class="icon ng-scope icon-completed text-success"></span>
                        </td>
                        <!-- Title + recipient row -->
                        <td>
                          <!-- Primary title -->
                          <span class="table_copy-line-1 ng-binding" data-qa="link-document-details">NDA_Edwards_Consulting_Group.pdf</span>
                          <!-- Recipients -->
                          <span class="table_copy-line-2" data-qa="document-info" ng-switch="$props.userIsSender">
                            <span class="ng-scope">
                              <span data-qa="recipient-info" class="ng-scope">
                                <span class="ng-binding">From: Alex Edwards</span>
                                <!-- ngIf: $props.hasMoreRec -->
                              </span>
                            </span>
                          </span>
                        </td>
                        <!-- Status -->
                        <td class="table_cell-status">
                          <!-- Action -->
                          <span>
                            <span data-qa="detail-status-title" class="ng-binding ng-scope">Completed</span>
                          </span>
                          <!-- Expiring -->
                        </td>
                        <!-- Date -->
                        <td class="table_cell-date" data-qa="detail-status-date">
                          <span class="table_date ng-binding" data-qa="envelope-modified-date">12/11/2017</span><span class="table_time ng-binding">10:38:19 am</span>
                        </td>
                        <!-- Folder -->
                        <!-- Actions -->
                        <td class="table_cell-action ng-isolate-scope">
                          <envelopes-list-item-actions-button envelope-id="914dff41-0358-4aeb-a74b-e2959f53e791" class="ng-isolate-scope">
                            <!-- Actions -->
                            <div class="btn-group btn-combo ng-scope">
                              <button class="btn ng-binding btn-secondary" data-qa="status-action-button-move">Move</button>
                              <button class="btn btn-icon ng-scope btn-secondary">
                                <i class="icon icon-menu-triangle-down"></i>
                                <span class="sr-text ng-binding">More Actions</span>
                              </button>
                              <div id="menu-button-914dff41-0358-4aeb-a74b-e2959f53e791" class="menu invisible" style="opacity: 0; top: 0px; left: 0px; min-width: 120px;">
                                <ul class="menu_list" role="menu">
                                  <li class="menu_listItem ng-scope" role="menuitem">
                                    <button class="menu_item ng-binding" type="button" data-qa="envelope-action-forward">Forward</button>
                                  </li>
                                  <li class="menu_listItem ng-scope" role="menuitem">
                                    <button class="menu_item ng-binding" type="button" data-qa="envelope-action-clone">Create a Copy</button>
                                  </li>
                                  <li class="menu_listItem ng-scope" role="menuitem">
                                    <button class="menu_item ng-binding" type="button" data-qa="envelope-action-save_as_template">Save as Template</button>
                                  </li>
                                  <li class="menu_listItem ng-scope" role="menuitem">
                                    <button class="menu_item ng-binding" type="button" data-qa="envelope-action-history">History</button>
                                  </li>
                                  <li class="menu_listItem ng-scope" role="menuitem">
                                    <button class="menu_item ng-binding" type="button" data-qa="envelope-action-delete">Delete</button>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </envelopes-list-item-actions-button>
                        </td>
                      </tr>
                      <!-- List the more option -->
                      <tr class="ng-isolate-scope">
                        <td class="text-center ng-scope" colspan="100%">
                          <span class="ng-binding">Looking for more?</span>
                          |
                          <a class="ng-binding ng-isolate-scope">Edit your filters</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Spinner -->
                  <!-- Catch the error -->
                </div>
              </envelopes-list-view>
            </div>
          </div>
        </div>
        <div class="site_footer footer ng-scope">
          <div class="footer_wrap">
            <div class="footer_left">
            </div>
            <div class="footer_main">
              <ul class="footer-links">
                <li>
                  <a class="footer-links_item btn-triggeR ng-binding">
                    <span class="icon icon-language"></span>
                    English
                  </a>
                </li>
                <li>
                  <span class="footer-links_item ng-binding" data-qa="powered-by">
                    Powered by DocuSign
                  </span>
                </li>
                <li>
                  <a target="_blank" class="footer-links_item ng-scope ng-binding" href="//support.docusign.com/contactSupport">Contact Us</a>
                </li>
                <li>
                  <a target="_blank" class="footer-links_item ng-binding" ng-href="http://www.docusign.com/company/terms-of-use/lang/en" data-qa="footer-terms-of-use" href="http://www.docusign.com/company/terms-of-use/lang/en">Terms of Use</a>
                </li>
                <li>
                  <a target="_blank" class="footer-links_item ng-binding" ng-href="http://www.docusign.com/company/privacy-policy/lang/en" data-qa="footer-privacy" href="http://www.docusign.com/company/privacy-policy/lang/en">Privacy</a>
                </li>
                <li>
                  <a target="_blank" class="footer-links_item ng-binding" ng-href="http://www.docusign.com/IP/lang/en" data-qa="footer-intellectual-property" href="http://www.docusign.com/IP/lang/en">Intellectual Property</a>
                </li>
                <li>
                  <a target="_blank" class="footer-links_item ng-binding" href="http://www.xdtm.org" data-qa="footer-xdtm">xDTM Compliant</a>
                </li>
                <li>
                  <span class="footer-links_item ng-binding" data-qa="footer-copyright">Copyright © 2017 DocuSign, Inc. All rights reserved.</span>
                </li>
              </ul>
              <div id="menuLanguages" class="menu select-menu invisible" data-qa="menuLanguageOptions" style="opacity: 0; top: 0px; left: 0px; min-width: 120px;">
                <ul role="menu">
                  <li class="item ng-binding ng-scope on" data-qa="language-option-en" role="menuitem">
                    English
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-de" role="menuitem">
                    Deutsch
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-es" role="menuitem">
                    Español
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-fr" role="menuitem">
                    Français
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-it" role="menuitem">
                    Italiano
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-nl" role="menuitem">
                    Nederlandse
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-pt_BR" role="menuitem">
                    Português (Brasil)
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-pt" role="menuitem">
                    Português (Portugal)
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-ru" role="menuitem">
                    Русский
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-zh_TW" role="menuitem">
                    中文(繁體)
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-zh_CN" role="menuitem">
                    中文(简体)
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-ja" role="menuitem">
                    日本語
                  </li>
                  <li class="item ng-binding ng-scope" data-qa="language-option-ko" role="menuitem">
                    한국어
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer_right p-right-large"></div>
          </div>
        </div>
      </div>

      <!-- gets populated by the dsHelpDrawer directive -->
      <div class="drawer drawer-help left closed" olive-drawer-name="helpDrawer" style="width: 0px;">
        <div class="drawer-wrapper"><div class="drawer-content" olive-drawer-content=""></div></div>
      </div>
    </div>
  </div>

  <div class="ds-modal-background ">
    <div class="modal modal-new modal-lg modal-visible ng-scope modal-onboard-checklist manage4" role="dialog">
      <div class="modal_header annotations annotation_1">
        <div class="">
          <h1 class="modal_title">Get Started with DocuSign</h1>
          <div class="modal_title_description">This guide will help you to get most of DocuSign in 5 easy steps</div>
        </div>
        <div class="checklist_completion annotations annotation_2">
          <div class="info_text">
            <div><span class="chklst_items_left">0</span>/<span class="chklst_total_items">6</span></div>
          </div>
        </div>
      </div>
      <div class="modal_header modal_header_complete">
        <img class="hat hat1" src="images/svg/hat1.svg"/>
        <img class="hat hat2" src="images/svg/hat2.svg"/>
        <img class="hat hat3" src="images/svg/hat3.svg"/>
        <h1 class="modal_title">You are now a DocuSign expert</h1>
        <div class="modal_title_description">There are other features that might be useful to you</div>
        <div class="checklist_completion">
          <button class="btn btn-main">Check It Out</button>
        </div>
      </div>
      <div class="progress_indicator annotations annotation_3">
        <div class="progress_indicator_bar"></div>
      </div>
      <div class="modal_content">
        <div class="checklist_card annotations completed" data-card-name="signup">
          <div class="chklst_img"><img src="images/signup.png" /></div>
          <div class="chklst_info annotations">
            <div class="chklst_info_title">Sign up for DocuSign</div>
            <div class="chklst_info_text">Good to have you here, Samuel :)</div>
            <div class="instructions_text">Good to have you here, Samuel :)</div>
          </div>
          <div class="chklst_check"><span class="icon icon-circle-check"></span></div>
        </div>
        <div class="checklist_card annotations annotation_4 " data-card-name="adopt_signature">
          <div class="chklst_img"><img src="images/upload_pic.png" /></div>
          <div class="chklst_info annotations">
            <div class="chklst_info_title">Adopt Your Signature</div>
            <div class="chklst_info_text">Learn how to create a digital signture</div>
            <div class="instructions_text">You can go to My Preferences - Personal Information to add/edit signatures</div>
          </div>
          <div class="chklst_check"><span class="icon icon-circle-check"></span></div>
        </div>
        <div class="checklist_card annotations completed" data-card-name="send_envelope">
          <div class="chklst_img"><img src="images/send_envelope.png" /></div>
          <div class="chklst_info annotations annotation_5">
            <div class="chklst_info_title">Send an Envelope to Others</div>
            <div class="chklst_info_text">Learn how to create and request signatures from other people</div>
            <div class="instructions_text">You can go to Home - Start Now to start sending envelopes</div>
          </div>
          <div class="chklst_check"><span class="icon icon-circle-check"></span></div>
        </div>
        <div class="checklist_card annotations " data-card-name="build_template">
          <div class="chklst_img "><img src="images/sign_own_doc.png" /></div>
          <div class="chklst_info annotations">
            <div class="chklst_info_title">Build a Template</div>
            <div class="chklst_info_text">Learn how to create and use template to save you time</div>
            <div class="instructions_text">You can go to Template - New to start a new template</div>
          </div>
          <div class="chklst_check"><span class="icon icon-circle-check"></span></div>
        </div>
        <!-- <div class="checklist_card annotations completed" data-card-name="sign_envelope">
          <div class="chklst_img"><img src="images/sign_envelope.png" /></div>
          <div class="chklst_info annotations">
            <div class="chklst_info_title">Sign an Envelope from Others</div>
            <div class="chklst_info_text">Learn how sign an envelope sent from others</div>
            <div class="instructions_text">Test</div>
          </div>
          <div class="chklst_check"><span class="icon icon-circle-check"></span></div>
        </div> -->
        <!-- <div class="checklist_card annotations" data-card-name="sign_own_doc">
          <div class="chklst_img"><img src="images/sign_own_doc.png" /></div>
          <div class="chklst_info annotations">
            <div class="chklst_info_title">Sign Your Own Document</div>
            <div class="chklst_info_text">Learn how to use DocuSign to sign documents without printing and scanning</div>
            <div class="instructions_text">Test</div>
          </div>
          <div class="chklst_check"><span class="icon icon-circle-check"></span></div>
        </div> -->
        <div class="checklist_card annotations annotation_6" data-card-name="upload_pic">
          <div class="chklst_img"><img src="images/upload_pic.png" /></div>
          <div class="chklst_info annotations">
            <div class="chklst_info_title">Upload Your Profile Photo</div>
            <div class="chklst_info_text">Showing your face to your signers can increase the completion rate</div>
            <div class="instructions_text">You can go to My Preference - Personal Information to change your profile</div>
          </div>
          <div class="chklst_check"><span class="icon icon-circle-check"></span></div>
        </div>
        <!-- <div class="checklist_card annotations" data-card-name="brand_account">
          <div class="chklst_img"><img src="images/send_envelope.png" /></div>
          <div class="chklst_info annotations">
            <div class="chklst_info_title">Brand Your Account</div>
            <div class="chklst_info_text">Learn how to create and request signatures from other people</div>
            <div class="instructions_text">You can go to Go to Admin - Brands to edit your brand settings</div>
          </div>
          <div class="chklst_check"><span class="icon icon-circle-check"></span></div>
        </div> -->
      </div>
      <!-- <div class="modal_footer">
        <a href="#" class="btn btn-primary btn-md btn-cancel">Save & Close</a>
        <a class="btn btn-minor btn-md btn-cancel">Cancel</a>
        <a href="#" class="btn btn-minor btn-md btn-cancel">Discard</a>
      </div> -->
      <button class="modal_close icon icon-times"></button>
      <div class="confetti-layer"></div>
    </div>

    <div class="modal modal-new modal-xl modal-visible ng-scope modal-adopt-signature hide_modal" role="dialog">
      <img src="images/adopt_modal.png"/>
    </div>
  </div>
  <div class="messages-global global-notifications" role="alert" aria-atomic="true"></div>
  <div class="osm-mask"></div>
</body>
<!-- <script src="js/script_callouts.js"></script> -->
<script src="js/script_modals.js"></script>
<script src="js/script_onboard_checklist.js"></script>
<script src="js/confetti.js"></script>
<script>
	//  ONLOAD CODE
	// $(document).ready(function() {
		// $.getScript("js/script_tagger.js", function() {
		// 	console.log("Loaded Script.");
		// });
	// });
</script>
</html>
