* {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hidden {
  display: none !important;
}

.PageView {
  position: relative;
  display: block;
  width: 100%;
  /*max-width: 850px;*/
  padding: 25px;
}
.PageView > img {
  width: 100%;
}
.PageView > span {
  color: #999;
}

.content_main {
  position: relative;
}
.site-fit .content_main {
  overflow: visible;
}
#documentTags {
  position: absolute;
  z-index: 100;
  pointer-events: none;
}
.sampleSVGTextArea {
  pointer-events: all;
}
.sampleSVGTextArea textarea {
  transition-duration: 0.1s;
}
.sampleSVGTextArea:not(.selected) textarea {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;
}
.draggable.selected rect {
  stroke: #2c6ee1;
  stroke-width: 2;
}
#documentTags .newTagDraggable.selected:not(.RadioTabView):not(.isEditing) .the_tag::before {
  content: none;
}

.drawer-properties .drawer-wrapper .drawer-content {
  height: auto;
  /*transform: translateX(100%);*/
}
.drawer-properties .drawer-wrapper .drawer-content.showing {
  /*left: 50px;*/
  /*transform: translateX(50px);*/
}

button.disabled {
  pointer-events: none;
}
/*.payment_icon {
  height: 100%;
  vertical-align: middle;
  margin-right: 14px;
}*/


/*STYLE FOR ACTUAL TAGGER*/
body {
  /*overflow: auto;*/
/*}
.flex-column {*/
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}
.tagger_content {
  position: relative;
  display: flex;
  justify-content: space-between;
  /*height: 100%;*/
  height: calc(100% - 26px);
}

.site_toolbar {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 41px;
  width: 100%;
}

.site-editor .content_sidebar-left {
  height: 100%;
  /*overflow: scroll;*/
}
.site-editor .content_sidebar-right {
  height: 100%;
  overflow: auto;
  max-width: 220px;
}
.site-editor .content_sidebar-right .sidebar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #777;
}
.drawer.drawer-properties {
  /*height: auto;*/
  /*min-height: 100%;*/
  overflow: auto;
}

#menuRecipients {
  min-width: 190px;
}
.toolbarRecipientsMenu {
  top: 84px;
  left: 12px;
  min-width: 228px;
}
.menu {
  transition: none;
  max-width: 220px;
}
.site-editor .toolbar_left {
  /*flex-direction: column;
  justify-content: center;*/
}
#menuFieldTypes {
  opacity: 1;
  top: 29px;
  left: 24px;
  min-width: 125px;
}
.sidebar_handle {
  position: absolute;
  left: calc(100% - 10px);
  cursor: ew-resize;
  top: 50%;
}

.tab-panel_ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.highlighted-radio {
  border-color: #2c6ee1 !important;
}
.documentPage img {
  min-height: 171px;
}
.drawer-properties_main {
  box-shadow: rgba(0, 0, 0, 0.180392) 0px -7px 7px -7px inset;
}
/*.accordion {
  padding-right: 24px;
}
.accordion.open .disclosure-options-sub-head {
  opacity: 0;
  height: 10px;
}
.accordion.open .icon.accordion-icon::before {
  content: "\E084";
}
.accordion.closed .icon.accordion-icon::before {
  content: "\E086";
}
.accordion-icon {
  right: auto;
  left: 4px;
  top: 8px;
}
.accordion .icon-right {
  font-family: olive-icons;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  speak: none;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #666;
  display: block;
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  right: 24px;
  text-align: center;
  top: -webkit-calc(50% - 8px);
  top: calc(50% - 8px);
  width: 16px;

  display: none;
}*/
.menu_doc_options {
  top: 32px;
  left: 65px;
}
.btn .icon {
  vertical-align: sub;
}

.disclosures {
  width: 100%;
  padding: 20px;
}
.disclosure {
  width: 100%;
  max-width: none;
  justify-content: space-between;
}
.disclosure .info {
  width: auto;
  padding: 30px 40px;
}

.hide_transition {
  height: 0 !important;
  min-height: 0 !important;
  overflow: hidden !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.disclosure.selected {
  border: 2px solid #357EEB;
}
.disclosure.selected::before {
  background: transparent;
  border-top: 2px solid #EAEAEA;
  border-right: 2px solid #EAEAEA;
  top: -4px;
  right: -4px;
  background: linear-gradient(225deg, #EAEAEA 45%, #357EEB 40%);
}
.disclosure_tools .toolbar {
  text-align: center;
}
.disclosure_pages {
  position: relative;
  left: auto;
  width: 100%;
  max-width: none;
}
.disclosure_pages > div {
  width: 80%;
  margin: 20px auto;
  max-width: 820px;
}

.drawer-properties_main .tabbed {
  margin-left: 25px;
}
.modal {
  left: 2%;
}
#modal_edit_docs.modal-visible {
  display: block;
  z-index: 1200;
}
#modal_edit_docs {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
}

.supplement .accordion .icon {
  display: none !important;
}
.supplement .accordion {
  pointer-events: none;
}

.action-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
  max-height: 40px;
}
.action-header_title {
  /*width: 232px;*/
}

a {
  box-shadow: none;
}


.taggerDocument .tag_settings {
  width: 30px;
  height: 30px;
}
.taggerDocument .tag_settings_options {
  position: relative;
  display: block;
  width: 280px;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid #CCC;
  border-radius: 3px;
  background-color: #FFF;
}
.taggerDocument .tag_settings_options .toolbarRecipientsMenu {
  top: 64px;
  left: 21px;
}
.taggerDocument .tag_settings_options .tag_actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #DDD;
}
.taggerDocument .tag_settings_options .tag_actions .icon {
  cursor: pointer;
}

.newTagDraggable > div:first-child {
  display: flex;
}
.newTagDraggable > div + div {
  /*margin-top: 2px;*/
}
.newTagDraggable .the_tag {
  border: 2px solid transparent;
  border-radius: 2px;
  overflow: hidden;
  max-width: 80px;
  height: 100%;

  display: flex;
  align-items: flex-start;
}
.newTagDraggable.DataTabView .the_tag {
  max-width: none;
  padding: 3px;
}
.newTagDraggable.DataTabView .the_tag textarea, .newTagDraggable.DataTabView .the_tag input {
  outline: none;
  border: none;
}
.newTagDraggable.NoteTabView .the_tag {
  max-width: none;
}
.newTagDraggable .the_tag textarea {
  min-height: 30px;
  padding: 2px 5px;
  resize: none;
}
.newTagDraggable .the_tag textarea:not(:focus) {
  background-color: transparent;
  cursor: pointer;
}
.newTagDraggable .the_tag > *:not(:first-child) {
  margin-left: 3px;
}
.newTagDraggable.selected {
  z-index: 10;
}
.newTagDraggable.selected:not(.RadioTabView) .the_tag {
  border: 2px solid #2c6ee1;
}
.newTagDraggable:not(.RadioTabView) .the_tag::before {
  content: ' ';
  position: absolute;
  left: -4px;
  top: -4px;
  opacity: 0;
  visibility: hidden;
  width: calc(100% + 11px);
  height: calc(100% + 11px);
  /*border-radius: 8px;*/
  /*background-color: #2c6ee1;*/
  /*background: no-repeat top left #2c6ee1, no-repeat top right #2c6ee1;*/
  background: url('../images/svg/border_dot.svg') top left no-repeat,
              url('../images/svg/border_dot.svg') top right no-repeat,
              url('../images/svg/border_dot.svg') bottom left no-repeat,
              url('../images/svg/border_dot.svg') bottom right no-repeat;

  transform: scale(1.10);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.newTagDraggable.selected:not(.RadioTabView) .the_tag::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.newTagDraggable.selected.isEditing .the_tag::before {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.90);
  pointer-events: none;
}
.newTagDraggable.RadioTabView > .radio_sub {
  border: 2px solid transparent;
  max-width: 22px;
}
.newTagDraggable.RadioTabView .radio_selected {
  border-radius: 2px;
  overflow: hidden;
  max-width: 22px;
  height: 100%;

  display: flex;
  align-items: flex-start;
}
.newTagDraggable.selected.RadioTabView .radio_selected {
  border: 2px solid #2c6ee1;
}
.newTagDraggable input[type="checkbox"], .newTagDraggable input[type="radio"] {
  /*pointer-events: none;*/
}
.newTagDraggable.DropdownTabView .the_tag {
  max-width: none;
  min-width: 80px;
  overflow: visible;
}
.newTagDraggable.DropdownTabView .dropdown_menu {
  position: relative;
  width: 100%;
}
.newTagDraggable.DropdownTabView .dropdown_menu .menu .item.pseudo_hover {
  background: #f4f4f4;
}
.newTagDraggable.DropdownTabView .dropdown_menu .select-menu {
  position: absolute;
  left: 0;
  top: 100%;
}
.newTagDraggable.selected.DropdownTabView .dropdown_menu {
  /*border: 2px solid #2c6ee1;*/
}

.dragAlong {
  position: fixed !important;
  pointer-events: none;
  opacity: 0.85;
  z-index: 100;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.taggerDocument .sidebar-sign-return {
  display: none;
}
.taggerDocument .sidebar-regular-tags {
  display: block;
}
.taggerDocument.signReturn .sidebar-sign-return {
  display: block;
}
.taggerDocument.signReturn .sidebar-regular-tags {
  display: none;
}
.taggerDocument.signReturn .content_sidebar-right {
  visibility: hidden;
}
.taggerDocument.signReturn .toolbar_left {
  visibility: hidden;
}
.taggerDocument.signReturn .toolbar_right {
  visibility: hidden;
}
.taggerDocument .sidebar-sign-return .sidebar-fields {
  background-color: transparent;
  width: 145px;
  margin: 0 auto;
}
.taggerDocument .sidebar-sign-return .menu-fields .menu_item .icon {
  margin-right: 5px;
}
