html, body {
  height: 100%;
  overflow: auto;
  background-color: #F7F7F7;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
[contentEditable='true']:focus {
  /*border-color: #888 !important;
  border-style: dashed !important;*/
  /*border: 1px dashed #888 !important;*/
}

.ndse_steps {
  height: calc(100% - 67px);
  overflow: hidden;

  display: flex;
  /*flex-direction: column;*/
}
.ndse_sub_steps {
  flex: 1 0 auto;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
.ndse_page {
  flex: 1 0 auto;
  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;
}
.ndse_page.selected {
  visibility: visible;
  opacity: 1;
}

.content_main {
  overflow: scroll;
}
#taggerDocument {
  height: 100%;
}

.profile_status {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
  border-radius: 100px;
  box-sizing: padding-box;
}
.profile_status .user_initial {
  z-index: 2;
}
.profile_status svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.profile_status circle {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #153A80;
  stroke-width: 4;
  stroke-dasharray: 285%;
  stroke-dashoffset: 0%;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.user_profile .profile_status circle {
  stroke: #CCC;
}
.profile_status .completion {
  stroke: #FFC820 !important;
  stroke-dasharray: 285%;
  stroke-dashoffset: 285%;
}
.profile_status .completion.completion_value {
  stroke-dashoffset: 215%;
}

.action-header_title {
  width: 224px;
  display: flex;
  align-items: center;
}
.action-header_title .icon-editpen {
  color: #FFF;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}

.action-flow {
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-grow: 2;*/
  /*position: relative;*/
  font-size: 14px;
}

#topNav {
  height: 69px;
  overflow: hidden;
}
#topNav > div {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
#topNav .action-header {
  width: 100%;
  height: 100%;
  max-height: none;
}
/**
 * Easy trapezoids with 3D transforms
 */

/*p {
	position: relative;
	display: inline-block;
	padding: 1em;
	margin: 2em;
}*/


.flow-state {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  /*padding: 0 20px 0 10px;*/
  position: relative;
  padding: 0 25px;
  /*width: 135px;*/
  height: 100%;
  max-height: 40px;
  line-height: normal;
  color: #5F7FBC;
  /*background-color: #A0C2F5;*/
  z-index: 2;
  /*border-top: 2px solid #4186EC;*/
}
.flow-state .flow-selected {
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #5F7FBC;
  border-radius: 10px;
  margin-right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.flow-state .flow-selected::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #5F7FBC;
  border-radius: 10px;
  transform: rotate(-45deg);
}
.flow-state .flow-selected .flow-number {
  width: 8px;
  height: 8px;
  /*background-color: transparent;*/
  border-radius: 8px;
  transform: scale(0);
}
.flow-state .flow-selected .flow-number:after {
  content: '';
  position: relative;
  left: 3px;
  top: -3px;
  display: block;
  width: 5px;
  height: 10px;
  /*margin: -1px auto;*/
  border: solid #85D8EB;
  border-width: 0 2px 2px 0;
  transform: rotate(60deg) scale(1);
  opacity: 0;
  transition: 0.5s;
}

.flow-state .flow-state-text {
  position: relative;
  padding: 5px;
  overflow: hidden;
  /*height: 100%;*/
  /*color: #5D85CA;*/
  color: #5F7FBC;
  font-weight: bold;
}
.flow-state + .flow-line {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: url(../images/svg/3_dots.svg) center no-repeat;
  transform: scale(1.5);
  overflow: hidden;
}
.flow-state + .flow-line .full_line {
  background-color: #85D8EB;
  width: 0;
  height: 100%;
}
.flow-state.complete + .flow-line .full_line {
  width: 100%;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.flow-state.selected {
  /*color: #4186EC;*/
  /*font-weight: bold;*/
  /*background-color: #FFF;*/
  cursor: pointer;
}
.flow-state.selected .flow-selected {
  border-color: #FFF;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.flow-state.selected .flow-selected::before {
  border-color: #FFF;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.flow-state.selected .flow-selected .flow-number {
  transform: scale(1);
  background-color: #FFF;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.flow-state.selected .flow-state-text {
  color: #FFF;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.flow-state.complete .flow-state-text {
  color: #85D8EB;
}
.flow-state.complete {
  color: #FFF;
  /*background-color: #4186EC;*/
  cursor: pointer;
}
.flow-state.complete .flow-selected {
  border-color: #85D8EB transparent #85D8EB #85D8EB;
  transform: rotate(-15deg);
}
.flow-state.complete .flow-selected::before {
  border-color: #85D8EB transparent #85D8EB #85D8EB;
  transform: rotate(-45deg);
}
.flow-state.complete .flow-selected .flow-number {
  transform: scale(1.05);
}
.flow-state.complete .flow-selected .flow-number:after {
  transform: rotate(60deg) scale(1);
  opacity: 1;
}
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 224px;
}
.actions > div {
  margin: auto 10px;
  cursor: pointer;
}

#bottomNav {
  border-top: 1px solid #CDCDCD;
  background-color: #FFF;
}
#bottomNav .actions_bar {
  max-width: 1264px;
  padding: 8px 24px;
}
.actions_bar {
  padding: 8px 16px;
  background-color: #FFF;

  display: flex;
  justify-content: flex-end;
}
.actions_bar > div {
  margin-left: 15px;
  min-width: 100px;
  border-color: transparent;
}

.action-header .btn-prev {
  background: 0 0;
  border-color: transparent;
  color: #c7d1e2;
  padding-left: 0;
}
.action-header .btn-icon .icon {
  color: inherit;
  font-size: 22px;
  line-height: 16px;
}

.nav-buttons {
  text-align: right;
}
.nav-buttons.stick_to_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background-color: #FFF;
}

#bottomNav {
  height: 50px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 10;
  /*transition-duration: 0.2s;*/
}
#bottomNav.hide_bottom_nav {
  /*height: 0;*/
  /*border: 0;*/
  /*overflow: hidden;*/
  pointer-events: none;
  transform: translateY(100px);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}


/*.toolbar-main {
  position: absolute;
  bottom: 58px;
  left: 0;
  z-index: 10;
  right: 0;
  margin: auto;
  background: rgba(0,0,0,0.5);
  width: 275px;
  color: #FFF;
  border-radius: 4px;
}*/

.recipient .menu, .file .menu {
  min-width: 220px;
  left: auto;
  right: 0;
  top: 100%;
}
