* {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.site-header .logo {
  width: 18%;
  min-width: 160px;
}

.main-nav .item {
  padding-top: 22px;
}
.actions {
  width: 285px;
}
.actions .icon {
  color: #FFF;
}

article.site-content {
  position: relative;
  height: auto;
  min-height: calc(100% - 104px);
  overflow: auto;
  display: flex;
}
.site-content .banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  z-index: 100;
}
.site-content .banner.upgrade_banner {
  color: #FFC900;
  background-color: #152D5C;
  cursor: pointer;
}

article .ndse_home {
  margin: 90px auto 0;
  /*padding: 24px;*/
  width: 100%;
  max-width: 1264px;
  z-index: 10;
  display: flex;
  /*justify-content: space-between;*/
}

.ndse_home .cards {
  display: inline-block;
  width: 30%;
  min-width: 350px;
  vertical-align: top;
}
.ndse_home .cards.full_cards {
  min-width: 67%;
}

.hero_background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.hero_background img {
  width: 100%;
  min-height: 220px;
}

.card {
  position: relative;
  min-width: 30%;
  /*min-height: 250px;*/
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #FFF;
  z-index: 1;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.full_cards .card {
  /*margin-left: 0;
  margin-right: 20px;*/
  height: 649px;
}
.card.user_profile {
  /*width: 30%;*/
  height: auto;
}
.card.news_card {
  /*width: 30%;*/
  padding: 0;
  height: 150px;
  overflow: hidden;
  display: flex;
}

.card.user_profile .profile_status {
  transform: scale(2.5) translate(10px,-15px)
}
.user_profile .profile_status circle {
  stroke-width: 3;
}
.user_profile .profile_status .user_initial {
  background: #FFF;
  width: 94%;
  height: 94%;
  z-index: 0;
  border-radius: 100px;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
  padding: 7px 6px;
}
.card.user_profile .profile_status_text {
  position: absolute;
  right: 0;
  bottom: 100%;
}
.user_profile .profile_status_text {
  color: #FFC820;
  font-weight: bold;
  margin: 8px;
}
.user_profile .profile_edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
}
.user_profile > div {
  max-width: 100%;
}
.user_profile .user_name {
  font-size: 24px;
  margin-bottom: 10px;
}
.user_profile .user_account_num {

}
.user_profile .user_email {

}
.user_profile .signature {
  position: relative;
  margin-top: 15px;
  padding: 15px 25px;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.user_profile .signature .your_signature {
  position: absolute;
  color: #777;
  font-size: 10px;
  font-weight: 700;
  left: 0;
  top: -7px;
  background-color: #FFF;
  padding-right: 10px;
}
.user_profile .signature img {
  height: 70px;
}
.user_profile .user_stats {
  font-size: 10px;
  color: #777;
  margin-top: 15px;
  display: flex;
  /*justify-content: space-around;*/
}
.user_profile .user_stats .big {
  font-size: 16px;
  font-weight: 700;
  color: #333;
}
.user_profile .user_stats > div {
  width: 50%;
  text-align: center;
}
.user_profile .user_stats > div:not(:first-child) {
  border-left: 1px solid #CCC;
}

.news_card .slider_images {
  /*position: absolute;
  left: 0;
  top: 0;*/
  min-width: 150px;
  height: 150px;
  /*background-color: #FFF5D7;*/
  overflow: hidden;

  display: flex;
  align-items: center;
}
.news_card .slider_buttons {
  /*position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;*/
}
.news_card .slide_info {
  position: relative;
  /*right: 0;
  bottom: 0;*/
  padding: 15px;
}
.news_card .slide_info > div {
  margin-top: 7px;
}
.news_card .slide_info .link {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.documents_card .add_document.empty {
  border: none;
  /*min-height: 520px;*/
  height: 100%;
}
.documents_card > div:not(:first-child) {
  margin-top: 20px;
}
.documents_card .add_document {
  border: 1px dashed #CCC;
  cursor: pointer;
  height: 220px;
  color: #777;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.documents_card .add_document > div {
  margin-top: 20px;
  color: #999;
  font-size: 20px;
  text-align: center;
}

.documents_card .documents_activity .activity_type {
  font-size: 15px;
  margin-bottom: 10px;
}
.documents_card .documents_list .doc_list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 10px;
  min-height: 50px;
}
.documents_card .documents_list .doc_list_item:not(:last-child) {
  border-bottom: 1px solid #CCC;
}
.documents_card .documents_list .doc_list_item > div:not(:last-child) {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.documents_card .documents_list .doc_list_item .doc_recipients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.documents_card .documents_list .doc_list_item .doc_recipients img {
  width: 90px;
  margin-left: 5px;
}
.documents_card .documents_list .doc_list_item .doc_recipients span {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin-left: 5px;
  padding: 8px;
  font-size: 13px;
  font-weight: bold;
  color: #555;
  background-color: #E8EDF7;
  border-radius: 20px;
}

.documents_card .documents_list .doc_details {
  /*font-size: 12px;*/
  margin-left: 10px;
}
.documents_card .documents_list .doc_details .doc_time_stamp {
  font-size: 11px;
}

.nav-buttons .btn {
  min-width: 105px;
}

.add_document.file-droppable {
  border: 2px dashed #A6C0EE !important;
  background-color: rgba(237, 250, 255, 0.5) !important;
  transition: none;
}
