<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=360"/> -->
    <title>Docusign</title>

    <script src="js/jquery-1.12.3.min.js"></script>
    <!-- <link href="css/olive.min.css" rel="stylesheet" type="text/css" /> -->
    <link href="css/style_tagger.css" rel="stylesheet" type="text/css" />
    <link href="https://docucdn-a.akamaihd.net/olive/16.17.0/css/olive.min.css" rel="stylesheet" type="text/css" />
    <link href="https://docucdn-a.akamaihd.net/olive/16.15.0/css/martini.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <nav class="site-header">
      <div class="site-container">
        <button class="btn-nav btn-nav-menu">
          <span class="icon icon-menu"></span>
          <span class="sr-text ng-binding">Menu</span>
        </button>
        <a href="index.html" class="logo logo-docusign"></a>
        <div class="main-nav">
          <ul class="horizontal-list no-list">
            <li>
              <a href="index.html" class="item ng-scope ng-binding on"><span class="icon icon-home"></span> Home</a>
            </li>
            <li>
              <a href="#" class="item ng-scope ng-binding"><span class="icon icon-documents"></span> Documents</a>
            </li>
            <li class="ng-scope">
              <a href="templates.html" class="item ng-scope ng-binding"><span class="icon icon-templates"></span> Templates</a>
            </li>
            <li class="ng-scope">
              <a href="#" class="item ng-scope ng-binding"><span class="icon icon-reports"></span> Reports</a>
            </li>
          </ul>
        </div>
        <div class="site-header-links ng-scope">
          <a target="_blank" class="link" href="https://support.docusign.com/knowledgeSearch?by=product&amp;product=new_docusign_experience&amp;topic=all">Help</a>
          <button type="button" class="item btn-avatar">
            <img class="thumb" src="images/alex_edwards_pic.png"> <span class="icon icon-triangle down"></span>
          </button>
          <div id="menuAccountNav" class="menu below right invisible" data-qa="menuAccountNav" style="top: 56px; left: auto; right: 30px; min-width: 120px;width: 300px;">
            <div class="menu-section">
              <div class="grid ng-scope">
                <table class="id-card">
                  <tbody>
                    <tr>
                      <td class="block-lg">
                        <div class="block_picture block_picture-avatar">
                          <img alt="User Avatar" src="images/alex_edwards_pic.png" class="avatar-landscape" style="visibility: visible;"/>
                        </div>
                      </td>
                      <td class="id-card-info ng-binding">
                        <strong data-qa="header-account-name" class="line-1 ng-binding">DocuSign</strong><br><span data-qa="header-account-email" class="ng-binding">corey.kimel@acme.com</span><br>1234567</br>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <ul class="menu-grouping" role="menu">
              <li role="menuitem">
                <a class="item ng-binding" href="#">Go to Admin</a>
              </li>
              <li role="menuitem">
                <a class="item ng-binding">My Preferences</a>
              </li>
              <li role="menuitem"></li>
              <li class="ng-scope" role="menuitem">
                <a class="item ng-binding">Switch to Classic</a>
              </li>
              <li role="menuitem">
                <a class="item ng-binding">Feedback</a>
              </li>
              <li role="menuitem">
                <a class="item ng-binding">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
        <button type="button"class="btn-nav btn-side-nav">
          <span class="icon icon-search"></span> <span class="sr-text ng-binding">Filter</span>
        </button>
      </div>
    </nav>
    <article class="site-content ng-scope">
      <div class="site-container loading ng-scope">
        <div class="site-main bg-contrast ng-scope">
          <div class="hero-wrap ng-scope">
            <div class="site-container">
              <div class="hero">
                <div class="hero-cell">
                  <h1 class="hero-title ng-binding ng-scope">Sign or Get Signatures</h1>
                </div>
                <div class="hero-cell">
                  <button type="button" id="calloutTarget1" callout-pos="after middle" callout-trigger="true" class="btn btn-main btn-xl hero-action ng-binding ng-scope new_doc">New</button>
                </div>
                <div id="menuNewDocument" class="menu invisible ng-scope" style="opacity: 0; top: 0px; left: 0px; min-width: 148px; transition: none;">
                  <ul role="menu">
                    <li role="menuitem"><a id="calloutTarget2" callout-pos="after middle" callout-trigger="true" class="item ng-scope ng-binding" href="#">Send a Document</a></li>
                    <li class="ng-scope" role="menuitem"><a class="item ng-scope ng-binding">Sign a Document</a></li>
                    <li class="ng-scope" role="menuitem"><a class="item ng-scope ng-binding">Use a Template</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="site-main-home">
            <div class="grid bg-white">
              <div class="site-container site-container-narrow">
                <div class="fgrid fgrid-lines fgrid-lg fgrid-gutters">
                  <div class="fgrid_cell fgrid_cell-1-3 fgrid_cell-1--md">
                    <div class="grid home-panel-title">
                      <h4 class="u-float-left ng-binding">Overview</h4>
                      <span class="text-muted u-float-right ng-binding">Last 6 Months</span>
                    </div>
                    <ul class="nav-list">
                      <li class="item-wrap ng-scope"><a class="item ng-scope" href="#"><span class="title-icon icon-alert-circle text-info"></span><h3 class="title ng-binding">Action Required</h3><span class="meta"><span class="semi-muted ng-binding ng-scope">0</span></span> <span class="icon icon-caret-right nav-list-go"></span></a></li>
                      <li class="item-wrap ng-scope"><a class="item ng-scope" href="#"><span class="title-icon icon-clock text-muted"></span><h3 class="title ng-binding">Waiting for Others</h3><span class="meta"><span class="semi-muted ng-binding ng-scope">0</span></span> <span class="icon icon-caret-right nav-list-go"></span></a></li>
                      <li class="item-wrap ng-scope"><a class="item ng-scope" href="#"><span class="title-icon icon-check text-success"></span><h3 class="title ng-binding">Completed</h3><span class="meta"><span class="semi-muted ng-binding ng-scope">13</span></span> <span class="icon icon-caret-right nav-list-go"></span></a></li>
                    </ul>
                  </div>
                  <div class="fgrid_cell fgrid_cell_2-3 fgrid_cell-1--md">
                    <div class="fgrid fgrid-lines fgrid-lg">
                      <div class="fgrid_cell fgrid_cell-1-2">
                        <div>
                          <div class="ng-scope">
                            <div class="ng-scope">
                              <div ng-if="newsCtrl.newsContent" class="ng-scope"><h4 class="home-panel-title ng-binding ng-scope">What's New</h4>
                                <p class="ng-binding ng-scope">
                                  <strong class="ng-binding">Collect Signatures with Payment</strong><br>DocuSign Payments helps companies get signatures on contracts, agreements, and other legally binding documents and collect payment simultaneously to finish business and capture revenue faster.
                                </p>
                                <p>
                                  <a class="link_addPaymentGateway hidden">Connect My Payment Gateway to DocuSign</a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="hide">
                          <div class="home-panel-title">
                            <h4 class="ng-binding">DocuSign Transaction Rooms for Real Estate</h4>
                          </div>
                          <div class="fgrid">
                            <div class="fgrid_cell fgrid_cell-1-4">
                              <img width="100%" src="/img/dtr-app-icon-1024x1024.png">
                            </div>
                            <div class="fgrid_cell fgrid_cell-3-4 ng-binding">Organize all the documents needed for each transaction in its own virtual workspace to speed up deals, ensure compliance, and see real-time updates on your business.<p><button type="button" class="btn btn-primary btn-md">Get Started</button></p>
                            </div>
                          </div>
                        </div>
                        <div class="hide">
                          <div class="grid home-panel-title">
                            <h4 class="u-float-left ng-binding">Trial Account</h4>
                            <a class="u-float-right ng-scope ng-binding">Buy Now</a>
                          </div>
                          <div class="completion-rate-graph">
                            <div class="ct-chart" data-qa="status-chart"></div>
                            <div class="complete-total ng-binding"></div>
                            <div class="complete-total-subtitle ng-binding">Days Left</div>
                          </div>
                        </div>
                      </div>
                      <div class="fgrid_cell fgrid_cell-1-2">
                        <div class="grid home-panel-title">
                          <h4 class="u-float-left ng-binding">My DocuSign ID</h4>
                          <a target="_self" class="u-float-right ng-scope ng-binding" href="#">Edit</a>
                        </div>
                        <div class="grid">
                          <table class="id-card">
                            <tbody>
                              <tr>
                                <td class="id-card-thumb text-center"><input id="upload-profile-photo" type="file" style="display:none"><label class="avatar u-cursor-pointer ng-scope"><img alt="User Avatar" src="images/alex_edwards_pic.png"><div class="spinner-circle spinner-sm transparent"></div></label></td>
                                <td class="id-card-info"><strong class="line-1 ng-binding">Corey Kimel</strong><br><span ng-if="email" class="muted ng-binding ng-scope">corey.kimel@acme.com<br></span><div class="muted ng-binding ng-scope">Member since 2015</div></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="horizontal-separator"></div>
                        <div class="signature-wrap ng-scope">
                          <div class="sig-chrome">
                            <span class="sig-chrome-title-top ng-binding">DocuSigned by:</span>
                            <div class="sig-container"><img class="sig" src="images/signature_corey.gif"></div>
                            <span class="sig-chrome-title-bottom ng-binding">6DE46328BA914E0...</span>
                          </div>
                          <div class="add-sig hide"><span class="add-sig-marker icon-times"></span> <a class="add-sig-link ng-binding" >Create Your Signature</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid bg-contrast">
              <div class="site-container site-container-narrow">
                <div class="eq-cols">
                  <div class="col">
                    <h4 class="home-panel-title ng-binding">Tips and Tricks</h4>
                    <div class="home-tips  home-office-hours"><p class="ng-binding"><strong class="ng-binding">Collect Signatures with Payment</strong><br>Solution to accept Payments with Signatures at once. Now you can collect both signatures and payment at the same time. <a class="more ng-binding ng-scope link_addPaymentGateway hidden">Connect my Payment Provider to DocuSign</a></p>
                    </div>
                  </div>
                  <div class="col">
                    <h4 class="home-panel-title ng-binding">We Want your feedback</h4>
                    <p class="ng-binding">We appreciate your ideas, suggestions, bugs, and even your compliments. <a class="more ng-scope ng-binding">Give Feedback</a></p>
                    <p class="ng-binding">Want to be the first to try out new features and give feedback on new ideas? <a class="more ng-scope ng-binding" target="_blank" href="https://docusign.qualtrics.com/SE/?SID=SV_0kScZUDgqh65ie1">Join Our Customer Panel</a></p>
                  </div>
                  <div class="col help-support">
                    <h4 class="home-panel-title ng-binding">Help and Support</h4>
                    <p><a target="_blank" class="ng-scope ng-binding" href="//support.docusign.com/knowledgeSearch?by=product&amp;product=new_docusign_experience&amp;topic=all"><span class="icon icon-incomplete"></span> Support Home</a></p>
                    <p><a target="_blank" class="ng-scope ng-binding" href="//support.docusign.com/community"><span class="icon icon-chat"></span> Community</a></p>
                    <p><a target="_blank" href="https://trust.docusign.com/" class="ng-scope ng-binding"><span class="icon icon-trustcenter"></span> Trust Center</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
      <div class="drawer drawer-help left closed" style="width: 0px;">
        <div class="drawer-wrapper">
          <div class="drawer-content" olive-drawer-content=""></div>
        </div>
      </div>
    </article>

    <div id="addPaymentGateway" class="hidden">
      <div class="modal modal-new modal-md modal-visible ng-scope" role="dialog">
        <div class="modal_header">
          <h1 class="modal_title">Login to your Payment Gateway</h1>
          <!-- <h3>Add details for a payment gateway</h3> -->
        </div>
        <div class="modal_content">
          <div class="gateway_option" data-gateway="stripe"><img src="images/svg/stripe.svg"/></div>
          <div class="gateway_option" data-gateway="paypal"><img src="images/svg/paypal.svg"/></div>
          <!-- <div class="gateway_option stripe"><img src="images/svg/stripe.svg"/></div>
          <div class="gateway_option paypal"><img src="images/svg/paypal.svg"/></div> -->
        <!-- </div> -->
          <div class="gateway_login hidden">
            <!-- <div class="gateway_logo"><img src="images/svg/stripe.svg"/></div> -->
            <div class="form-group">
              <label class="label" for="accountName">Username</label>
              <input type="text" class="input input-text" placeholder="Username" id="accountName">
            </div>
            <div class="form-group">
              <label class="label" for="accountPassword">Password</label>
              <input type="text" class="input input-text" placeholder="Password" id="accountPassword">
            </div>
            <div class="form-group">
              <label class="label" for="accountNickname">Nickname</label>
              <input type="text" class="input input-text" placeholder="Nickname" id="accountNickname">
            </div>
          </div>
          <div class="gateway_login_complete hidden">
            <div class="checkmark"><img src="images/svg/checkmark.svg"/></div>
            <div class="">
              <h1>Login Successful</h1>
              <p>You have successfully logged in and linked your <span class="gateway_name">stripe</span> account as a payment gateway.
            </div>
          </div>
        </div>
        <div class="modal_footer">
          <button class="btn btn-lg btn-primary btn_next disabled">Next</button>
          <button class="btn btn-lg btn-minor btn_cancel">Cancel</button>
        </div>
        <button class="modal_close icon icon-times"></button>
      </div>
    </div>

    <div class="site_footer ng-scope">
      <div class="site_container">
        <div class="footer_left"><!-- ngIf: footer.showBeta() --></div>
        <div class="footer_main">
          <ul class="footer-links">
            <li class="ng-scope"><a class="footer-links_item btn-triggeR ng-binding"><span class="icon icon-globe"></span> English (US)</a></li>
            <li><span class="footer-links_item ng-binding">Powered by DocuSign</span></li>
            <li><a target="_blank" class="footer-links_item ng-scope ng-binding" href="https://support.docusign.com/contactSupport">Contact Us</a></li>
            <li><a target="_blank" class="footer-links_item ng-binding" href="http://www.docusign.com/company/terms-of-use/lang/en">Terms of Use</a></li>
            <li><a target="_blank" class="footer-links_item ng-binding" href="http://www.docusign.com/company/privacy-policy/lang/en">Privacy</a></li>
            <li><a target="_blank" class="footer-links_item ng-binding" href="http://www.docusign.com/IP/lang/en">Intellectual Property</a></li>
            <li><span class="footer-links_item ng-binding">Copyright © 2016 DocuSign, Inc. All rights reserved.</span></li>
          </ul>
          <div id="menuLanguages" class="menu select-menu invisible" style="opacity: 0; top: 0px; left: 0px; min-width: 120px;">
            <ul role="menu" aria-labelledby=" English (US)">
              <li class="item ng-binding ng-scope on" role="menuitem">English (US)</li>
              <li class="item ng-binding ng-scope" role="menuitem">Deutsch</li>
              <li class="item ng-binding ng-scope" role="menuitem">Español</li>
              <li class="item ng-binding ng-scope" role="menuitem">Français</li>
              <li class="item ng-binding ng-scope" role="menuitem">Italiano</li>
              <li class="item ng-binding ng-scope" role="menuitem">Nederlandse</li>
              <li class="item ng-binding ng-scope" role="menuitem">Português (Brasil)</li>
              <li class="item ng-binding ng-scope" role="menuitem">Português (Portugal)</li>
              <li class="item ng-binding ng-scope" role="menuitem">Русский</li>
              <li class="item ng-binding ng-scope"  role="menuitem">中文(台灣)</li>
              <li class="item ng-binding ng-scope"  role="menuitem">中文(简体)</li>
              <li class="item ng-binding ng-scope"  role="menuitem">日本語</li>
              <li class="item ng-binding ng-scope"  role="menuitem">한국어</li>
              <li class="item ng-binding ng-scope"  role="menuitem">［～Þƨèúδô～］</li>
            </ul>
          </div>
        </div>
        <div class="footer_right"><!-- ngIf: footer.showFeedback() --></div>
      </div>
    </div>
    <div class="tooltip callout tip above left hidden" style="top: -205px; left: -442px;">
      <!-- <div class="header">Set File Access</div> -->
      <div class="tooltip-content">Ready to sign your first document? Start here.</div>
      <div class="buttonRow"><button class="btn btn-primary">Got It</button></div>
    </div>
  </body>

  <script src="js/script_payment.js"></script>
  <!-- <script src="js/script_callouts.js"></script> -->
  <script>

    $(document).ready(function(e) {

      $(".new_doc").on("click", function(e) {
        e.stopPropagation();
        $("#menuNewDocument, #menuNew").toggleClass("invisible");
        // console.log($(this).position().left+ parseInt($(this).css("margin-left")) + " " + $(this).offset().left);
        $("#menuNewDocument, #menuNew").css({"opacity": 1, "top": $(this).position().top + $(this).outerHeight(), "left": $(this).position().left + parseInt($(this).css("margin-left"))});
      });

      $("body").on("click", function() {
        $("#menuNewDocument, #menuNew, #menuAccountNav").addClass("invisible");
      });
      $(".btn-avatar").on("click", function(e) {
        e.stopPropagation();
        $("#menuAccountNav").toggleClass("invisible");
      });

    });
  </script>
</html>
