.invisible {
  visibility: hidden;
  opacity: 0;
}

article {
  text-align: center;
  width: 80%;
  height: 100%;
  margin: auto;
  max-width: 1024px;
  background-color: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
article > div {
  margin-top: 20px;
}

.title {
  font-size: 30px;
}

.options_grid {
  display: flex;
  justify-content: center;

  margin: 30px auto 5px;
}
.options_grid .options_grid_item {
  width: 33%;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.options_grid .options_grid_item:not(:first-child) {
  border-left: 1px solid #CCC;
}
.options_grid .options_grid_item img {
  height: 100px;
  margin-bottom: 15px;
}
.options_grid .options_grid_item > div {
  margin-top: 15px;
}





.animated_completed {
  position: relative;
  width: 200px;
  height: 220px;
  margin: 15px auto;
  /*transform: scale(0.7);*/
}
.animated_completed .checkmark {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  /*width: 200px;
  height: 200px;*/

  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  /*box-shadow: inset 0px 0px 0px #7ac142;*/
}
.animated_completed .checkmark.animate {
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
.animated_completed .checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
}
.animated_completed .checkmark__circle.animate {
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.animated_completed .checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 96;
  stroke-dashoffset: 96;
}
.animated_completed .checkmark__check.animate {
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.animated_completed .stars_shapes {
  transform: scale(0);
  width: 200px;
  height: 220px;
  /*margin: 20px auto;*/
}
.animated_completed .stars_shapes.show {
  transform: scale(1);

  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.0, 1.0, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 60px #7ac142;
  }
}
